# Python compiled files
*.py[c|o]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
.tmp
.sass-cache
bower_components/

# Installer logs
pip-log.txt
npm-debug.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Shell and IDE files
*.sublime-project
*.sublime-workspace

# Local settings and environments
local_settings.py
env/
.env/
env?/
node_modules/
db.sqlite3
.env