{% extends 'product-base.html' %}

{% block main %}

<section class="main">
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 columns">
      {% if form.errors.password_confirm %}
      <div class="alert alert-error">{{ form.errors.password_confirm.as_text|slice:"2:" }}</div>
      {% endif %}

      <h3 class="page-header">Reset your password</h3>

      <p>Choose a new password for your account.</p>
      <form method="POST" class="panel">{% csrf_token %}
        <p><input required type="password" name="password" id="my-password" class="input-block" placeholder="Password" tabindex="1"> <label for="my-password" class="float-label"><strong>Password</strong></label></p>
        <p><input required type="password" name="password_confirm" id="my-password-confirmation" class="input-block" placeholder="Confirm Password" tabindex="2"> <label for="my-password-confirmation" class="float-label"><strong>Confirm Password</strong></label></p>
        <p><input type="submit" value="Reset Password" class="button radius" tabindex="3"></p>
      </form>
    </div>
  </div>
</section>

{% endblock %}
