{% extends 'product-base.html' %}

{% block main %}

<p style="margin:0 0 -1.25em;padding:0.5em 1em 0"><a href="/" style="text-decoration:none;">&#8592; <small>Plan In A Box</small></a></p>

<section class="main">
  <div class="container">
    <h3>Lost your password?</h3>

    {% if form.errors.email %}
    <div class="alert alert-error">{{ form.errors.email.as_text|slice:"2:" }}</div>
    {% endif %}

    <p>Enter your email address and we'll send you a link to reset your password.</p>
    <form method="POST">{% csrf_token %}
      <p><input required type="email" name="email" id="my-email" class="input-block" placeholder="email@example.org" tabindex="1" value="{{ form.email.value|default_if_none:'' }}"> <label for="my-email" class="float-label"><strong>Email</strong></label></p>
      <p><input type="submit" value="Reset Password" class="btn btn-large" tabindex="2"></p>
    </form>
  </div>
</section>

{% endblock %}
