{% extends 'product-base.html' %}

{% block main %}

<section class="">
  <div class="row">
    <div class="small-12 columns">
      <div class="page-header">
        <h2>About OpenPlans</h2>
      </div>
      <div class="row">
        <div class="small-12 large-8 columns">
          <p class="medium-big-paragraph large-big-paragraph">We&#8217;re working towards cities where communities are partners in shaping neighborhoods, where transportation systems are designed in collaboration with everyone who rides them, and where planners and other professionals are engaging the public in ongoing, productive conversations about positive change.</p>
          <p>OpenPlans is a 501(c)3. In addition to our current transportation and planning work, we previously incubated and launched <a href="http://boundlessgeo.com/">Boundless</a> (formerly OpenGeo), <a href="http://streetfilms.org/">Streetfilms</a>, <a href="http://streetsblog.org/">Streetsblog</a>, and <a href="http://ny.chalkbeat.org/">Chalkbeat</a> (formerly GothamSchools). Our previous open source software work has included substantial contributions to projects like OpenTripPlanner and OpenTripPlanner Analyst, and more.</p>
        </div>
        <div class="small-12 large-4 columns">
          <ul class="vcard">
            <li class="fn">OpenPlans</li>
            <li class="street-address">148 Lafayette Street, 12th Floor</li>
            <li class="locality">New York, <span class="state">NY</span> <span class="zip">10013</span></li>
            <li class="tel">(917) 388-9033 <span class="type">Phone</span></li>
            <li class="tel">(646) 390-2624 <span class="type">Fax</span></li>
            <li class="email"><a href="mailto:hello@openplans.org" class="button small expand">hello@openplans.org</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-section">
  <a id="team" class="offset-anchor"></a>
  <div class="row">
    <div class="small-12 columns">

      <h2>Our Team</h2>

      <div class="row">
        <div class="small-12 medium-9 large-12 columns">

          <div class="row" data-equalizer>
            <div class="large-6 columns">
              <div class="panel" data-equalizer-watch>
                <h3><a href="http://blog.openplans.org/team_cpt/frank-hebbert/">Frank Hebbert</a> <small><em>Director</em></small></h3>
                <div class="row collapse">
                  <div class="small-3 medium-2 large-3 columns">
                    <img class="avatar" src="{{ STATIC_URL }}images/team/frank.jpg">
                  </div>
                  <div class="small-9 medium-10 large-9 columns">
                    Frank is interested in creating radically better planning outcomes through the intersection of planning, technology and public participation.
                  </div>
                </div>
              </div>
            </div>
            <div class="large-6 columns">
              <div class="panel" data-equalizer-watch>
                <h3><a href="http://blog.openplans.org/team_cpt/ellen-mcdermott/">Ellen McDermott</a> <small><em>Director of Operations</em></small></h3>
                <div class="row collapse">
                  <div class="small-3 medium-2 large-3 columns">
                    <img class="avatar" src="{{ STATIC_URL }}images/team/ellen.jpg">
                  </div>
                  <div class="small-9 medium-10 large-9 columns">
                    Ellen is responsible for all the financial, administrative and operations aspects of the organization.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" data-equalizer>
            <div class="large-6 columns">
              <div class="panel" data-equalizer-watch>
                <h3><a href="http://blog.openplans.org/team_cpt/andy-cochran/">Andy Cochran</a> <small><em>Creative Director</em></small></h3>
                <div class="row collapse">
                  <div class="small-3 medium-2 large-3 columns">
                    <img class="avatar" src="{{ STATIC_URL }}images/team/andy.jpg">
                  </div>
                  <div class="small-9 medium-10 large-9 columns">
                    Andy leads visual design and interface work on OpenPlans’ projects.
                  </div>
                </div>
              </div>                
            </div>
            <div class="large-6 columns">
              <div class="panel" data-equalizer-watch>
                <h3><a href="http://blog.openplans.org/team_cpt/kelly-donohue/">Kelly Donohue</a> <small><em>Operations Associate</em></small></h3>
                <div class="row collapse">
                  <div class="small-3 medium-2 large-3 columns">
                    <img class="avatar" src="{{ STATIC_URL }}images/team/kelly.png">
                  </div>
                  <div class="small-9 medium-10 large-9 columns">
                    Kelly assists Ellen in financial operations and event planning.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" data-equalizer>
            <div class="large-6 columns">
              <div class="panel" data-equalizer-watch>
                <h3><a href="http://blog.openplans.org/team_cpt/aaron-ogle/">Aaron Ogle</a> <small><em>CTO</em></small></h3>
                <div class="row collapse">
                  <div class="small-3 medium-2 large-3 columns">
                    <img class="avatar" src="{{ STATIC_URL }}images/team/aaron.jpg">
                  </div>
                  <div class="small-9 medium-10 large-9 columns">
                    Aaron believes that software can be used to build for a better world.
                  </div>
                </div>
              </div>
            </div>
            <div class="large-6 columns">
              <div class="panel" data-equalizer-watch>
                <h3><a href="http://blog.openplans.org/team_cpt/mjumbe-poe/">Mjumbe Poe</a> <small><em>Software Developer</em></small></h3>
                <div class="row collapse">
                  <div class="small-3 medium-2 large-3 columns">
                    <img class="avatar" src="{{ STATIC_URL }}images/team/mjumbe.jpg">
                  </div>
                  <div class="small-9 medium-10 large-9 columns">
                    Mjumbe enjoys projects that empower others to understand and affect their environments.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" data-equalizer>
            <div class="large-6 columns">
              <div class="panel" data-equalizer-watch>
                <h3><a href="http://blog.openplans.org/team_cpt/jon-tehrani/">Jon Tehrani</a> <small><em>Research Fellow</em></small></h3>
                <div class="row collapse">
                  <div class="small-3 medium-2 large-3 columns">
                    <img class="avatar" src="{{ STATIC_URL }}images/team/jon.jpg">
                  </div>
                  <div class="small-9 medium-10 large-9 columns">
                    Jon is our latest research fellow, analyzing how planners use OpenPlans.
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="panel">
        <h3>The Board</h3>
          <strong>Mark Gorton</strong> (Founder and President),
          <strong>Andrew Hoppin</strong> (New Amsterdam Ideas),
          <strong>Joseph Lipman</strong> (Hospital for Special Surgery),
          <strong>Christopher Tucker</strong> (Yale House Ventures),
          <strong>Jennifer Walker</strong> (Joseph Brooke LLC)
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="clients-section">
  <a id="clients" class="offset-anchor"></a>
  <div class="row">
    <div class="small-12 large-9 columns">
      <h2>Who's got OpenPlans?</h2>
      <p>Our day-to-day work is spent creating beautiful, effective online tools to gather public input and share information. We&#8217;re proud to have partnered with cities large and small on projects, and we have a great track record of making tangible steps towards a better planning process.</p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="clients-list small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li><a href="http://www.peoplepoweredmovement.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/allianceforwalkingandbiking.png" alt="Alliance for Walking and Biking"></a></li>
        <li><a href="http://www.altaplanning.com/" target="_blank"><img src="{{ STATIC_URL }}images/clients/alta.png" alt="Alta Planning"></a></li>
        <li><a href="http://www.mbakercorp.com/" target="_blank"><img src="{{ STATIC_URL }}images/clients/baker.png" alt="Baker"></a></li>
        <li><a href="http://www.bostonglobe.com/" target="_blank"><img src="{{ STATIC_URL }}images/clients/bostonglobe.png" alt="Boston Globe"></a></li>
        <li><a href="http://www.camsys.com/" target="_blank"><img src="{{ STATIC_URL }}images/clients/cambridge.png" alt="Cambridge Systematics"></a></li>
        <li><a href="http://www.cityofchicago.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/chicago.png" alt="City of Chicago"></a></li>
        <li><a href="http://www.phila.gov/" target="_blank"><img src="{{ STATIC_URL }}images/clients/cityofphiladelphia.png" alt="City of Philadelphia"></a></li>
        <li><a href="http://www.weho.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/cityofwesthollywood.png" alt="City of West Hollywood"></a></li>
        <li><a href="http://www.columbiatribune.com/" target="_blank"><img src="{{ STATIC_URL }}images/clients/tribune.png" alt="Columbia Daily Tribune"></a></li>
        <li><a href="http://www.ct.gov/dot/site/default.asp" target="_blank"><img src="{{ STATIC_URL }}images/clients/ctdot.png" alt="Connecticut Department of Transportation"></a></li>
        <li><a href="http://www.itpworld.net/" target="_blank"><img src="{{ STATIC_URL }}images/clients/itp.png" alt="ITP"></a></li>
        <li><a href="http://www.knightfoundation.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/knight.png" alt="Knight Foundation"></a></li>
        <li><a href="http://www.livingcities.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/livingcities.png" alt="Living Cities"></a></li>
        <li><a href="http://mta.info" target="_blank"><img src="{{ STATIC_URL }}images/clients/mta.png" alt="Metropolitan Transportation Authority"></a></li>
        <li><a href="http://nacto.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/nacto.png" alt="National Association of City Transportation Officials"></a></li>
        <li><a href="http://www.nelsonnygaard.com/" target="_blank"><img src="{{ STATIC_URL }}images/clients/nelsonnygaard.png" alt="Nelson\Nygaard"></a></li>
        <li><a href="http://www.nyc.gov/html/dot/html/home/home.shtml" target="_blank"><img src="{{ STATIC_URL }}images/clients/nycdot.png" alt="NYC Department of Transportation"></a></li>
        <li><a href="http://www.oregonmetro.gov/" target="_blank"><img src="{{ STATIC_URL }}images/clients/metro.png" alt="Oregon Metro"></a></li>
        <li><a href="http://www.orton.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/orton.png" alt="Orton Family Foundation"></a></li>
        <li><a href="https://www.philafound.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/philadelphiafoundation.png" alt="Philadelphia Foundation"></a></li>
        <li><a href="http://www.placematters.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/placematters.png" alt="PlaceMatters"></a></li>
        <li><a href="https://www.pps.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/pps.png" alt="Project for Public Spaces"></a></li>
        <li><a href="http://publiclab.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/publiclab.png" alt="Public Laboratory"></a></li>
        <li><a href="http://www.purpose.com/" target="_blank"><img src="{{ STATIC_URL }}images/clients/purpose.png" alt="Purpose"></a></li>
        <li><a href="http://www.rideconnection.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/rideconnection.png" alt="Ride Connection"></a></li>
        <li><a href="http://www.samschwartz.com/" target="_blank"><img src="{{ STATIC_URL }}images/clients/samschwartz.png" alt="Sam Schwartz Engineering"></a></li>
        <li><a href="http://www.soundtransit.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/soundtransit.png" alt="Sound Transit"></a></li>
        <li><a href="http://www.ri.gov/" target="_blank"><img src="{{ STATIC_URL }}images/clients/ri.png" alt="State of Rhode Island"></a></li>
        <li><a href="http://mas.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/mas.png" alt="The Municipal Art Society of New York"></a></li>
        <li><a href="http://www.sonoraninstitute.org/"><img src="{{ STATIC_URL }}images/clients/sonoran.png" alt="The Sonoran Institute"></a></li>
        <li><a href="http://treekit.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/treekit.png" alt="TreeKIT"></a></li>
        <li><a href="http://trimet.org/" target="_blank"><img src="{{ STATIC_URL }}images/clients/trimet.png" alt="Trimet"></a></li>
      </ul>
      
    </div>
  </div>
</section>

{% endblock %}
