<!DOCTYPE html>
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html dir="ltr" lang="en-US" class="no-js"> <!--<![endif]-->

<head>
  <title>{% block title %}{% endblock %}</title>

  <meta charset="utf-8">

  {% block meta %}{% endblock %}

  <!--  Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch-icon-precomposed.png">

  <!-- Google Web Fonts -->
  <!-- <link href='//fonts.googleapis.com/css?family=Alegreya+Sans:100,400,800,400italic,800italic,100italic' rel='stylesheet' type='text/css'> -->
  <link href='//fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>

  {% if debug %}
  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/foundation/css/normalize.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/foundation/css/foundation.css" />
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/base.min.css" />
  {% endif %}


  {% block styles %}{% endblock %}

  {% if debug %}
  <script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}scripts/modernizr.min.js"></script>
  {% endif %}
</head>
<body>

  <!-- TODO: Make sure this is the right place in the layout for this message. -->
  <!--[if lt IE 9]>
    <div class="alert-box alert">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
  <![endif]-->

  <div id="page">
    {% block page %}{% endblock %}
  </div>
  <div id="modal-container"></div>

  {% if debug %}
  <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.js"></script>
  <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}scripts/components-base.min.js?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}"></script>
  {% endif %}
  <script>
    $(document).foundation();
  </script>

  {% block scripts %}{% endblock %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ settings.GOOGLE_ANALYTICS_ID|safe }}', '{{ settings.GOOGLE_ANALYTICS_DOMAIN|safe }}');
    ga('send', 'pageview');
  </script>
</body>
</html>
