<ul class="flavor-list no-bullet">
  <li class="flavor">
    <span id="bike-parking" class="offset-anchor"></span>
    <div class="panel radius">
      <a class="button secondary tiny less-padding radius right tiny-margin-left tiny-margin-bottom" href="https://openplans.org/demo/bike-parking/" target="_blank">DEMO&nbsp;&#8594;</a>
      <a href="/map-flavors/bike-parking/" class="">
        <h3 class="no-margins">Bike Parking</h3>
        <img src="{{ STATIC_URL }}images/plan-types/illustration-bikeparking.png" class="">
      </a>
    </div>
  </li>
  <li class="flavor">
    <span id="bike-share" class="offset-anchor"></span>
    <div class="panel radius">
      <a class="button secondary tiny less-padding radius right tiny-margin-left tiny-margin-bottom" href="https://openplans.org/demo/bike-share/" target="_blank">DEMO&nbsp;&#8594;</a>
      <a href="/map-flavors/bike-share/" class="">
        <h3 class="no-margins">Bike Share</h3>
        <img src="{{ STATIC_URL }}images/plan-types/illustration-bikeshare.png" class="">
      </a>
    </div>
  </li>
  <li class="flavor">
    <span id="bike-network" class="offset-anchor"></span>
    <div class="panel radius">
      <a class="button secondary tiny less-padding radius right tiny-margin-left tiny-margin-bottom" href="https://openplans.org/demo/bike-network-improvements/" target="_blank">DEMO&nbsp;&#8594;</a>
      <a href="/map-flavors/bike-network-improvements/" class="">
        <h3 class="no-margins">Bike Network Improvements</h3>
        <img src="{{ STATIC_URL }}images/plan-types/illustration-bikeway.png" class="">
      </a>
    </div>
  </li>
  <li class="flavor">
    <span id="neighborhood-assessment" class="offset-anchor"></span>
    <div class="panel radius">
      <a class="button secondary tiny less-padding radius right tiny-margin-left tiny-margin-bottom" href="https://openplans.org/demo/neighborhood-assessment/" target="_blank">DEMO&nbsp;&#8594;</a>
      <a href="/map-flavors/neighborhood-assessment/" class="">
        <h3 class="no-margins">Neighborhood Assets</h3>
        <img src="{{ STATIC_URL }}images/plan-types/illustration-assessment.png" class="">
      </a>
    </div>
  </li>
  <li class="flavor">
    <span id="street-safety" class="offset-anchor"></span>
    <div class="panel radius">
      <a class="button secondary tiny less-padding radius right tiny-margin-left tiny-margin-bottom" href="https://openplans.org/demo/street-safety/" target="_blank">DEMO&nbsp;&#8594;</a>
      <a href="/map-flavors/street-safety/" class="">
        <h3 class="no-margins">Street Safety</h3>
        <img src="{{ STATIC_URL }}images/plan-types/illustration-street-safety.png" class="">
      </a>
    </div>
  </li>
  <li class="flavor">
    <span id="tree-canopy" class="offset-anchor"></span>
    <div class="panel radius">
      <a class="button secondary tiny less-padding radius right tiny-margin-left tiny-margin-bottom" href="https://openplans.org/demo/urban-tree-canopy/" target="_blank">DEMO&nbsp;&#8594;</a>
      <a href="/map-flavors/urban-tree-canopy/" class="">
        <h3 class="no-margins">Urban Tree Canopy</h3>
        <img src="{{ STATIC_URL }}images/plan-types/illustration-treecanopy.png" class="">
      </a>
    </div>
  </li>
</ul>