{% extends 'product-base.html' %}

{% block main %}

<section class="">
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-9 columns">
      <div class="panel">
        <h2>We're making OpenPlans better.</h2>
        <p>You might not see all the features you want right now. But as we continue to make improvements&mdash;guided by <a href="https://trello.com/b/94MT3WRQ/openplans-roadmap" target="_blank"><strong>your input</strong></a>&mdash;you'll see new features rolled out to your account.</p>
      </div>

      <h3>How does OpenPlans work?</h3>
      <ol>
        <li>Create an account.</li>
        <li>Edit &amp; save your project.</li>
        <li>When you're ready, publish your project for the world to see.</li>
        <li>Send people to your project online by sharing it on Facebook, Twitter, mailing lists, etc.</li>
        <li>Print a beautiful flyer right from your project page.</li>
      </ol>

      <h3>Questions? Problems?</h3>
      <p>Contact us any time at <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}?Subject=Plan%20In%20A%20Box"><strong>{{ settings.PLANBOX_CONTACT_EMAIL }}</strong></a>. Or, give us a call at <strong>(917) 388-9033</strong> during East Coast office hours.</p>

      <h3>Help us make OpenPlans better</h3>
      <p>Your feedback and comments will enable us to make the software better. Please suggest new features and help us prioritize them on <a href="https://trello.com/b/94MT3WRQ/openplans-roadmap" target="_blank"><strong>our Trello board</strong></a>. Or <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}?Subject=Plan%20In%20A%20Box"><strong>email us</strong></a> your ideas and feedback directly.</p>
      <br>
      <br>
    </div>
  </div>
</section>

{% endblock %}
