{% extends 'product-base.html' %}

{% block main %}

<section class="">
  <div class="container">

    <h5>Plan In A Box is in alpha, so you may not yet see all the features you want.  As we continue to make improvements, you'll see new features rolled out to your account - no updates needed! <a href="http://openplans.org/category/planningtools/">Keep an eye on our blog for details as we add features</a>.</h5>

    <hr>

    <h2>How does Plan In A Box work?</h2>
    <ol>
      <li>Create an account.</li>
      <li>Edit &amp; save your project.</li>
      <li>When you're ready, publish your project for the workd to see.</li>
      <li>Send people to your project online by sharing it on Facebook, Twitter, mailing lists, etc.</li>
      <li>Print a beautiful flyer right from your project page.</li>
    </ol>

    <h5>Questions? Problems?</h5>
    <p>Contact us any time at <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}?Subject=Plan%20In%20A%20Box">{{ settings.PLANBOX_CONTACT_EMAIL }}</a>. Or, give us a call at 917 388-9033 during East Coast office hours.</p>

    <hr>

    <h2>Help us make Plan In A Box better</h2>
    <p>Your feedback and comments will enable us to make the software better.</p>
    <p>Please suggest new features and help us prioritize them on <a href="https://trello.com/b/94MT3WRQ/plan-in-a-box-features" target="_blank"><strong>our Trello board</strong></a>. Or <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}?Subject=Plan%20In%20A%20Box">email us</a> your feature ideas directly.</p>

  </div>
</section>

{% endblock %}
