{% extends 'product-base.html' %}

{% block page %}

<hgroup class="product-tagline-section has-image">
  <h3 class="tagline"><span class="nowrap">Community Engagement</span> <span class="hearts">&hearts;</span> <span class="nowrap">Better Places</span></h3>
  <h4 class="slogan">Our web maps help you gather constructive public input for walking <span class="nowrap">&amp; biking projects.</span></h4>
</hgroup>

<section class="product-get-started extra-padding-top some-padding-bottom" id="get-started">
  <div class="row">
    <div class="small-12 columns">
      <form method="GET" action="{% url 'app-signup' %}">
        <div class="row">
          <div class="small-12 medium-8 large-12 medium-centered columns">
            <div class="row collapse">
              <div class="small-12 large-5 columns text-center">
                <h4>Create Your Planning Website:</h4>
              </div>
              <div class="small-8 large-5 columns">
                <div class="float-label-container">
                  <input required name="email" type="email" class="float-label-input" placeholder="email@example.org">
                  <label for="email" class="float-label">Email Address</label>
                </div>
              </div>
              <div class="small-4 large-2 columns">
                <button class="button postfix">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="text-center" id="features">
  <div class="row extra-padding-top">
    <div class="small-12 medium-10 medium-centered large-11 columns extra-padding-top">

      <div class="row">
        <div class="small-6 small-centered medium-4 medium-push-8 medium-uncentered columns">
          <img class="feature-illustration" src="{{ STATIC_URL }}images/feature-jetpack.gif">
        </div>
        <div class="small-12 medium-8 medium-pull-4 columns">
          <h3 class="some-padding-top">Planning of the Future</h3>
          <p>OpenPlans gets more people involved in urban planning decisions. It's the communications jet pack planners have been waiting for.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-6 small-centered medium-4 medium-uncentered columns">
          <img class="feature-illustration" src="{{ STATIC_URL }}images/feature-edit.gif">
        </div>
        <div class="small-12 medium-8 columns">
          <h3 class="some-padding-top">Easily Create &amp; Edit Plans</h3>
          <p>It's super easy to create plans. Our templates &amp; engagement tools help you focus on the message, giving you the power to broadcast &amp; collect information.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-6 small-centered medium-4 medium-push-8 medium-uncentered columns">
          <img class="feature-illustration" src="{{ STATIC_URL }}images/feature-map.gif">
        </div>
        <div class="small-12 medium-8 medium-pull-4 columns">
          <h3 class="some-padding-top">Add Interactive Maps</h3>
          <p>Gather place-based public input with our user-friendly map interface. Use a <a href="/shareabouts">Shareabouts</a> map to collect feedback &amp; ideas from of participants.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-6 small-centered medium-4 medium-uncentered columns">
          <img class="feature-illustration" src="{{ STATIC_URL }}images/feature-watercan.gif">
        </div>
        <div class="small-12 medium-8 columns">
          <h3 class="some-padding-top">Plans Large &amp; Larger</h3>
          <p>Use OpenPlans on your own, or upgrade to features like roundup pages, branded templates, custom integrations, user management&hellip; Work with us to accelerate development of new features.</p>
          <!-- <p class=""><a href="#">Read our infrastructure for planning white paper&hellip;</a></p> -->
        </div>
      </div>

    </div>
  </div>
</section>

<section class="product-benefits extra-padding-top some-padding-bottom" id="benefits">
  <div class="row">
    <div class="clearfix">
      <p class="medium-10 medium-centered large-4 large-uncentered columns text-large"><strong>For Planners</strong>    <br>OpenPlans makes it easy to create &amp; update websites. Spend less time making web design decisions, and more time adding content and engaging people where they&nbsp;are.</p>
      <p class="medium-10 medium-centered large-4 large-uncentered columns text-large"><strong>For Communities</strong> <br>OpenPlans enables informed participation. It's where people can find out what's happening, give their input, and stay engaged throughout the whole&nbsp;project.</p>
      <p class="medium-10 medium-centered large-4 large-uncentered columns text-large"><strong>For Cities</strong>      <br>OpenPlans provides a birds-eye view of all plans. Information is aggregated to give a city-wide roundup of plans by type, helping people find multiple plans to&nbsp;track.</p>
    </div>
    <p class="small-12 medium-10 medium-centered large-8 columns some-padding-top"><a href="/signup/" class="button large round expand"><strong>Sign up for an <span class="show-for-medium-up">OpenPlans </span>account&hellip;</strong></a></p>
  </div>
</section>

<section class="extra-padding-top some-padding-bottom" id="">
  <div class="row">
    <div class="small-12 medium-5 columns">
      <h3>Who is OpenPlans for?</h3>
      <p>OpenPlans helps with effective communication for urban planning, transportation, and development projects, including:</p>
      <ul>
        <li><strong>Neighborhood Transportation Projects</strong></li>
        <li><strong>Rezonings</strong></li>
        <li><strong>Master Plans</strong></li>
        <li><strong>Utility &amp; Public Works Projects (provide updates)</strong></li>
        <li><strong>Capital Projects by Transit Agencies</strong></li>
        <li><strong>Regional Initiatives by MPOs, COGs, RPAs</strong></li>
        <li><strong>Campus Development by Universities</strong></li>
    </div>
    <div class="small-12 medium-7 columns">
      <h3>What's the big idea?</h3>
      <p>We're changing the culture of information sharing by local gov, giving everyone actionable information about projects near them. We're making it easier for planners to share information, and easier for communities to discover information and act on it. Because our tools are online, it's easy to get started, and we keep making improvements.</p>
      <p>We want to see a big change in communication in planning. Our goal is genuine, two-way constructive conversation between planners and the communities they serve. Getting beyond the usual suspects, we want to see greater engagement from a more diverse population. Eventually, nobody should wonder what's going on or feel like they're missing from discussions.</p>
      <p class="text-right"><a href="/about/#team" class="button tiny radius">Meet the team behind OpenPlans&hellip;</a></p>
    </div>
  </div>
</section>

<section class="product-demos extra-padding-top extra-padding-bottom" id="demos">
  <div class="row">
    <div class="small-12 columns some-padding-bottom">
      <h3>Check out these plans&hellip;</h3>
    </div>
    <div class="small-12 medium-6 columns">
      <a href="http://grforward.org/" target="_blank"><img class="" src="{{ STATIC_URL }}images/project-screenshot-grforward.png"></a>
    </div>
    <div class="small-12 medium-6 columns">
      <a href="http://maconactionplan.com/" target="_blank"><img class="" src="{{ STATIC_URL }}images/project-screenshot-maconactionplan.png"></a>
    </div>
  </div>
</section>

<section class="product-feedback extra-padding-top extra-padding-bottom">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h3>Open for Good</h3>
      <p>OpenPlans is open source. We hope you'll work with us for our excellent support, reliable hosting and deep knowledge of tools for planning. But if you decide to go DIY, our code is available. Every project we do leads to improvements in the core OpenPlans software.</p>
    </div>
    <div class="small-12 large-6 columns">
      <h3>Let's talk</h3>
      <p>Contact us any time at <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}?Subject=Plan%20In%20A%20Box">{{ settings.PLANBOX_CONTACT_EMAIL }}</a>. Your <a href="https://trello.com/b/94MT3WRQ/openplans-roadmap" target="_blank">feedback &amp; comments</a> will help us improve the&nbsp;software. As we continue to make improvements, you'll see new features rolled out to your account. Please help us <a href="https://trello.com/b/94MT3WRQ/openplans-roadmap" target="_blank">prioritize new features</a>!</p>
    </div>
  </div>
</section>

{% endblock %}
