{% extends 'product-base.html' %}

{% block main %}

<section class="product-section--the-problem has-cover-image">
  <div class="container">
    <h3>Still using old-fashioned methods to promote your street improvement projects?</h3>
  </div>
</section>

<section class="product-section--the-answer">
  <div class="container">
    <div class="the-answer">

      <h3>Get useful, timely, engaging project info onto the web.</h3>
      <p><strong>Plan In A Box</strong> provides a high quality website for your street improvement project, so everyone can find out what's happening, stay engaged, and be more informed participants.</p>

      <h4>Sign up for a Plan In A Box account!</h4>
      <form class="interest-form clearfix" method="GET" action="{% url 'app-signup' %}">
        <p class="email"><input required name="email" type="email" class="input-block" placeholder="email@example.org"></p>
        <p class="submit"><button class="btn btn-block">Sign up!</button></p>
      </form>

    </div>
  </div>
</section>

<section class="product-overview has-cover-image">
  <div class="container">
    <div class="call-to-action">
      <div class="product-pitch">
        <h4>Keep Communities Informed and Engaged</h4>
        <p class="clearfix"><img class="illustration" src="{{ STATIC_URL }}images/search.png">Information about proposed street changes is often hard for residents to find and track.</p>
        <p class="clearfix"><img class="illustration" src="{{ STATIC_URL }}images/stopwatch.png">Sharing timely, helpful information is challenging for busy planners.</p>
        <p class="clearfix"><img class="illustration" src="{{ STATIC_URL }}images/headache.png">Being uninformed leads to frustration and unsatisfactory experiences, even for great projects. And unhappy people slow down the public process for everyone.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
