{% extends 'product-base.html' %}

{% block page %}

<section class="">
  <div class="row extra-padding-top extra-padding-bottom">
    <div class="columns extra-padding-bottom extra-margin-bottom">

      <h2>Choose the right map for your plan&hellip;</h2>

      <p class="text-large">Set up a fully functional map using our tested templates. Then, when you're ready to gather public input, activate your plan with a one-time or monthly fee.</p>

      <div class="row extra-padding-top">
        <div class="medium-6 columns">
          <span id="bike-parking-map" class="offset-anchor"></span>
          <div class="panel radius extra-margin-bottom">
            <h3><strong>Bike Parking Map</strong></h3>
            <img src="{{ STATIC_URL }}images/plan-types/illustration-bikeparking.png" class="some-margin-bottom">
            <a class="button secondary large less-padding radius right some-margin-left some-margin-bottom" href="https://openplans.org/demo/chinatown-bike-parking/" target="_blank">Demo&nbsp;&#8594;</a>
            <p class="some-margin-bottom">Make it easy and social for people to request bike parking. Collect suggestions, including photos of the sidewalk to help evaluate the locations. Use the admin interface to review and respond to requests, and to see stats&mdash;like which locations are popular.</p>
            <ul class="some-margin-bottom">
              <li><strong>Easily collect &amp; manage requests for bike parking.</strong></li>
              <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
              <li><strong>Follow up with confirmation emails to participants.</strong></li>
              <li><strong>Track activity with daily email reports.</strong></li>
              <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
            </ul>

            <div class="some-margin-bottom">
              <label for="bike-parking-form-details" class="toggle-sibling-label link force-inline-block"><strong>What information will participants provide?</strong></label><input type="checkbox" id="bike-parking-form-details" class="hide toggle-sibling-input-1">
              <ul class="toggle-sibling-1 some-margin-top">
                <li><strong>Location of Request <small>via Map Pin</small></strong> <small>(data saved: latitude/longitude, approximate address via geolocation)</small></li>
                <li><strong>Location Name</strong></li>
                <li><strong>Location Description</strong></li>
                <li><strong>Submitter's Name</strong> <small>(optional)</small>
                  <br><strong>or Name &amp; Avatar</strong> <small>(if signed in via Twitter/Facebook)</small></li>
                <li><strong>Email Address</strong> <small>(private &amp; optional)</small></li>
                <li><strong>ZIP Code</strong> <small>(private &amp; optional)</small></li>
                <li><strong>Age</strong> <small>(private &amp; optional)</small></li>
                <li><strong>Race/Ethnicity</strong> <small>(private &amp; optional)</small></li>
              </ul>
            </div>

            {% include 'create-plan-button.html' with template='shareabouts-bikeparking' %}

          </div>
          <span id="bike-share-map" class="offset-anchor"></span>
          <div class="panel radius extra-margin-bottom">
            <h3><strong>Bike Share Map</strong></h3>
            <img src="{{ STATIC_URL }}images/plan-types/illustration-bikeshare.png" class="some-margin-bottom">
            <a class="button secondary large less-padding radius right some-margin-left some-margin-bottom" href="https://openplans.org/demo/healdsburg-bike-share/" target="_blank">Demo&nbsp;&#8594;</a>
            <p class="some-margin-bottom">Build support for bike share by engaging the community in suggesting locations, or get feedback on a shortlist of possible sites. Use on-the-ground local wisdom to pick the best spots, and demonstrate support from a diverse range of participants.</p>
            <ul class="some-margin-bottom">
              <li><strong>Collect suggested locations for bike share.</strong></li>
              <li><strong>Gather feedback about existing locations.</strong></li>
              <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
              <li><strong>Follow up with confirmation emails to participants.</strong></li>
              <li><strong>Track activity with daily email reports.</strong></li>
              <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
            </ul>

            <div class="some-margin-bottom">
              <label for="bike-share-form-details" class="toggle-sibling-label link force-inline-block"><strong>What information will participants provide?</strong></label><input type="checkbox" id="bike-share-form-details" class="hide toggle-sibling-input-2">
              <ul class="toggle-sibling-2 some-margin-top">
                <li><strong>Location of Request <small>via Map Pin</small></strong> <small>(data saved: latitude/longitude, approximate address via geolocation)</small></li>
                <li><strong>Location Name</strong></li>
                <li><strong>Reason</strong> <small>(Why is this a good location for bike share?)</small></li>
                <li><strong>Submitter's Name</strong> <small>(optional)</small>
                  <br><strong>or Name &amp; Avatar</strong> <small>(if signed in via Twitter/Facebook)</small></li>
                <li><strong>Email Address</strong> <small>(private &amp; optional)</small></li>
                <li><strong>ZIP Code</strong> <small>(private &amp; optional)</small></li>
                <li><strong>Age</strong> <small>(private &amp; optional)</small></li>
                <li><strong>Race/Ethnicity</strong> <small>(private &amp; optional)</small></li>
              </ul>
            </div>

            {% include 'create-plan-button.html' with template='shareabouts-bikeshare' %}

          </div>
        </div>
        <div class="medium-6 columns">
          <span id="neighborhood-assessment-map" class="offset-anchor"></span>
          <div class="panel radius extra-margin-bottom">
            <h3><strong>Neighborhood Assessment Map</strong></h3>
            <img src="{{ STATIC_URL }}images/plan-types/illustration-assessment.png" class="some-margin-bottom">
            <a class="button secondary large less-padding radius right some-margin-left some-margin-bottom" href="https://openplans.org/demo/west-lou-assessment/" target="_blank">Demo&nbsp;&#8594;</a>
            <p class="some-margin-bottom">What's your experience of your neighborhood, and how would you like that to change or stay the same? What are your ideas for the neighborhood? Use our neighborhood assessment map to collect this feedback.</p>
            <ul class="some-margin-bottom">
              <li><strong>Collect feedback about places people like/dislike and the opportunities they see.</strong></li>
              <li><strong>Differentiate categories with beautiful icons.</strong></li>
              <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
              <li><strong>Follow up with confirmation emails to participants.</strong></li>
              <li><strong>Track activity with daily email reports.</strong></li>
              <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
            </ul>

            <div class="some-margin-bottom">
              <label for="neighborhood-assessment-form-details" class="toggle-sibling-label link force-inline-block"><strong>What information will participants provide?</strong></label><input type="checkbox" id="neighborhood-assessment-form-details" class="hide toggle-sibling-input-3">
              <ul class="toggle-sibling-3 some-margin-top">
                <li><strong>Location of Request <small>via Map Pin</small></strong> <small>(data saved: latitude/longitude, approximate address via geolocation)</small></li>
                <li>
                  <strong>Category of Observation</strong>
                  <span style="display:block;line-height:2.75em;margin-top:-0.125em;margin-bottom:0.25em;">
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/housing.png">&nbsp;Housing</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/business.png">&nbsp;Business</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/traffic.png">&nbsp;Streets/Parking</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/walking-biking.png">&nbsp;Walking/Biking</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/crime.png">&nbsp;Public Safety</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/park-river.png">&nbsp;Parks/Rivers</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/fountain.png">&nbsp;Public Space</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/idea.png">&nbsp;Other</span>
                  </span>
                </li>
                <li><strong>Location Name</strong></li>
                <li><strong>Description of Observation</strong></li>
                <li><strong>Submitter's Name</strong> <small>(optional)</small>
                  <br><strong>or Name &amp; Avatar</strong> <small>(if signed in via Twitter/Facebook)</small></li>
                <li><strong>Email Address</strong> <small>(private &amp; optional)</small></li>
                <li><strong>ZIP Code</strong> <small>(private &amp; optional)</small></li>
                <li><strong>Age</strong> <small>(private &amp; optional)</small></li>
                <li><strong>Race/Ethnicity</strong> <small>(private &amp; optional)</small></li>
              </ul>
            </div>

            {% include 'create-plan-button.html' with template='shareabouts-neighborhood-assessment' %}

          </div>
          <span id="street-safety-map" class="offset-anchor"></span>
          <div class="panel radius extra-margin-bottom">
            <h3><strong>Street Safety Map</strong></h3>
            <img src="{{ STATIC_URL }}images/plan-types/illustration-street-safety.png" class="some-margin-bottom">
            <a class="button secondary large less-padding radius right some-margin-left some-margin-bottom" href="https://openplans.org/demo/stamford-street-safety/" target="_blank">Demo&nbsp;&#8594;</a>
            <p class="some-margin-bottom">Too many people are injured while walking and biking. Gather information about street safety issues so that street design changes can be informed by knowledge from many participants.</p>
            <ul class="some-margin-bottom">
              <li><strong>Easily collect &amp; manage safety concerns.</strong></li>
              <li><strong>Differentiate categories with beautiful icons.</strong></li>
              <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
              <li><strong>Follow up with confirmation emails to participants.</strong></li>
              <li><strong>Track activity with daily email reports.</strong></li>
              <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
            </ul>

            <div class="some-margin-bottom">
              <label for="street-safety-form-details" class="toggle-sibling-label link force-inline-block"><strong>What information will participants provide?</strong></label><input type="checkbox" id="street-safety-form-details" class="hide toggle-sibling-input-4">
              <ul class="toggle-sibling-4 some-margin-top">
                <li><strong>Location of Request <small>via Map Pin</small></strong> <small>(data saved: latitude/longitude, approximate address via geolocation)</small></li>
                <li>
                  <strong>Category of Issue</strong>
                  <span style="display:block;line-height:2.75em;margin-top:-0.125em;margin-bottom:0.25em;">
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/double-parking.png">&nbsp;Double Parking</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/crosswalk-time.png">&nbsp;Crosswalk Timing</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/crosswalk-long.png">&nbsp;Long Distance to Cross</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/traffic-light-red.png">&nbsp;Red Light Running</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/jaywalking.png">&nbsp;Jaywalking</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/sunglasses.png">&nbsp;Poor Visibility</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/speeding.png">&nbsp;Speeding</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/yield.png">&nbsp;Failure to Yield</span>
                    <span class="nowrap some-margin-right"><img class="inline-icon large" src="http://openplans.github.io/planbox-themes/map-markers/cyclist.png">&nbsp;Cyclist Behavior</span>
                  </span>
                </li>
                <li><strong>Description of Issue</strong></li>
                <li><strong>Submitter's Name</strong> <small>(optional)</small>
                  <br><strong>or Name &amp; Avatar</strong> <small>(if signed in via Twitter/Facebook)</small></li>
                <li><strong>Email Address</strong> <small>(private &amp; optional)</small></li>
                <li><strong>ZIP Code</strong> <small>(private &amp; optional)</small></li>
                <li><strong>Age</strong> <small>(private &amp; optional)</small></li>
                <li><strong>Race/Ethnicity</strong> <small>(private &amp; optional)</small></li>
              </ul>
            </div>

            {% include 'create-plan-button.html' with template='shareabouts-street-safety' %}

          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-10 medium-centered large-8 columns">
          <div class="panel">
            <h3>Need a different map template?</h3>
            <div class="row">
              <div class="small-12 medium-7 columns">
                <p class="no-margin-bottom text-large">We're working on more, including:</p>
                <ul class="no-margin-bottom">
                  <li><strong>Bike&nbsp;Route&nbsp;Planning</strong></li>
                  <li><strong>Safety&nbsp;Mapping via Street&nbsp;View</strong></li>
                  <li><strong>Streetscape&nbsp;Ideas</strong></li>
                  <li><strong>Participatory&nbsp;Budgeting</strong></li>
                  <li><strong>Bike&nbsp;Safety</strong></li>
                  <li><strong><em>and more&hellip;</em></strong></li>
                </ul>
              </div>
              <div class="small-12 medium-5 columns">
                <p class="some-margin-bottom"><strong>Would these be useful for your work?</strong></p>
                <p class="some-margin-bottom"><strong>Tell us what maps you need!</strong></p>
                <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}" class="open-intercom button expand small less-padding"><strong>CONTACT US</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="extra-margin-top">Setting Up Your Plan</h2>
      <div class="row">
        <div class="medium-5 columns some-margin-bottom">
          <p class="text-large">OpenPlans includes all the right settings for your collaborative map. Create a map and customize it, then start gathering input. We'll be with you every step, helping you get the most from your map.</p>
          <h3>Start a trial plan anytime!</h3>
          <p><em>Trial plans will be fully-functional for {{ settings.TRIAL_DAYS }} days. After that, you'll need activate to continue using the plan.</em></p>
        </div>
        <div class="medium-7 columns some-margin-bottom">
          <h5>After setting up your plan, activate it to continue with&hellip;</h5>
          <ul>
            <li>Unlimited support from the OpenPlans team, via email &amp; phone</li>
            <li>Daily email reports, customized for your project</li>
            <li>Access to our real-time data dashboard, showing the latest activity on your plan</li>
            <li>Moderation tools, to review &amp; manage input as it comes in</li>
            <li>Export your data to other tools for further work</li>
            <li>User-tested templates for effective data collection on desktop &amp; mobile</li>
            <li>Straightforward site management&mdash;add images &amp; documents to give your plan context</li>
            <li>Hassle-free hosting &amp; domain names</li>
          </ul>
        </div>
      </div>

      <h2 class="extra-padding-top">Plan Costs</h2>
      <em>Choose a payment that fits your project budget&mdash;monthly or a one-time fee.</em>
      <p class="text-large"><strong>Activating a plan costs $1,200 monthly or a one-time fee of $9,900.</strong></p>
      <ul class="no-bullet">
        <li>Monthly plans can be stopped anytime.</li>
        <li>One-time payments are good for the entire duration of your project.</li>
      </ul>

      <p class="">Working on a community project? Need to pay by an alternate method? Multiple projects? <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}" class="open-intercom"><strong>Contact us.</strong></a></p>

    </div>
  </div>
</section>

{% endblock %}
