{% extends 'product-base.html' %}

{% block page %}

<section class="">
  <div class="row extra-padding-top extra-padding-bottom">
    <div class="small-12 columns">

      <h2>Choose the right map for your plan&hellip;</h2>

      <div class="row extra-padding-top" data-equalizer>
        <div class="medium-6 columns some-margin-bottom">
          <span id="bike-parking-map" class="offset-anchor"></span>
          <div class="panel radius" data-equalizer-watch>
            <h3><strong>Bike Parking Map</strong></h3>
            <a href="http://bikeparking.chicagocompletestreets.org/" target="_blank"><!-- <img src="{{ STATIC_URL }}images/plan-types/illustration-bikeparking.png" class="some-margin-bottom some-margin-top"> --><img src="{{ STATIC_URL }}images/shareabouts/shareabouts-600x375-chicagobikeparking.jpg" class="some-margin-bottom some-margin-top shadowed"></a>
            <p>Make it easy and social for people to request bike parking. Collect suggestions, including photos of the sidewalk to help evaluate the locations. Use the admin interface to review and respond to requests, and to see stats&mdash;like which locations are popular.</p>
            <ul>
              <li><strong>Easily collect &amp; manage requests for bike parking.</strong></li>
              <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
              <li><strong>Follow up with confirmation emails to participants.</strong></li>
              <li><strong>Track activity with daily email reports.</strong></li>
              <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
            </ul>

            {% include 'create-plan-button.html' with template='shareabouts-bikeparking' %}

          </div>
        </div>
        <div class="medium-6 columns some-margin-bottom">
          <span id="bike-share-map" class="offset-anchor"></span>
          <div class="panel radius" data-equalizer-watch>
            <h3><strong>Bike Share Map</strong></h3>
            <a href="http://www.phillybikeshare.com/" target="_blank"><!-- <img src="{{ STATIC_URL }}images/plan-types/illustration-bikeshare.png" class="some-margin-bottom some-margin-top"> --><img src="{{ STATIC_URL }}images/shareabouts/shareabouts-600x375-phillybikeshare.jpg" class="some-margin-bottom some-margin-top shadowed"></a>
            <p>Build support for bike share by engaging the community in suggesting locations, or get feedback on a shortlist of possible sites. Use on-the-ground local wisdom to pick the best spots, and demonstrate support from a diverse range of participants.</p>
            <ul>
              <li><strong>Collect suggested locations for bike share.</strong></li>
              <li><strong>Gather feedback about existing locations.</strong></li>
              <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
              <li><strong>Follow up with confirmation emails to participants.</strong></li>
              <li><strong>Track activity with daily email reports.</strong></li>
              <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
            </ul>

            {% include 'create-plan-button.html' with template='shareabouts-bikeshare' %}

          </div>
        </div>
      </div>
      <div class="row" data-equalizer>
        <div class="medium-6 columns some-margin-bottom">
          <span id="neighborhood-assessment-map" class="offset-anchor"></span>
          <div class="panel radius" data-equalizer-watch>
            <h3><strong>Neighborhood Assessment Map</strong></h3>
            <a href="http://map.maconactionplan.com/" target="_blank"><!-- <img src="{{ STATIC_URL }}images/plan-types/illustration-assessment.png" class="some-margin-bottom some-margin-top"> --><img src="{{ STATIC_URL }}images/shareabouts/shareabouts-600x375-maconactionplan.jpg" class="some-margin-bottom some-margin-top shadowed"></a>
            <p>What&rsquo;s your experience of your neighborhood, and how would you like that to change or stay the same? What are your ideas for the neighborhood? Use our neighborhood assessment map to collect this feedback.</p>
            <ul>
              <li><strong>Collect feedback about places people like/dislike and the opportunities they see.</strong></li>
              <li><strong>Differentiate categories with beautiful icons.</strong></li>
              <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
              <li><strong>Follow up with confirmation emails to participants.</strong></li>
              <li><strong>Track activity with daily email reports.</strong></li>
              <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
            </ul>

            {% include 'create-plan-button.html' with template='shareabouts-neighborhood-assessment' %}

          </div>
        </div>
        <div class="medium-6 columns some-margin-bottom">
          <span id="street-safety-map" class="offset-anchor"></span>
          <div class="panel radius" data-equalizer-watch>
            <h3><strong>Street Safety Map</strong></h3>
            <a href="http://www.nyc.gov/html/visionzero/pages/dialogue/map.html" target="_blank"><!-- <img src="{{ STATIC_URL }}images/plan-types/illustration-streetview.png" class="some-margin-bottom some-margin-top"> --><img src="{{ STATIC_URL }}images/shareabouts/shareabouts-600x375-visionzero.jpg" class="some-margin-bottom some-margin-top shadowed"></a>
            <p>Gather information about walking and biking safety using panorama images of streets.</p>
            <ul>
              <li><strong>Use Google Street View to collect feedback as people see it on the ground.</strong></li>
              <li><strong>Collect comments and clicks of support.</strong></li>
              <li><strong>Track activity with daily email reports.</strong></li>
              <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns some-padding-top extra-padding-bottom">
          <p class="text-large text-center"><a href="/signup/"><em><strong>Or build a plan from scratch&hellip;</strong></em></a></p>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
