{% extends 'product-base.html' %}

{% block page %}

<section class="">
  <div class="row extra-padding-top extra-padding-bottom">
    <div class="small-12 columns">

      <p class="text-xxlarge some-padding-top"><strong>All the software we build is open source.</strong></p>

      <div class="row">
        <div class="medium-7 columns">
          <h2>Why open source?</h2>
          <p class="text-large">Open source means that our code and processes are open. You can use <a href="https://trello.com/b/94MT3WRQ/openplans-roadmap"><strong>our roadmap</strong></a> to see what we're going to build next, and you can get involved in re-using and improving our tools at <a href="https://github.com/openplans/"><strong>github.com/openplans</strong></a>. We welcome participation in our projects and are grateful to everyone for their contributions of code, ideas, and feedback. </p>
          <p class="text-large">Because our software is open, everyone benefits from each improvement we make. Investments by cities in tools contributes to supporting a new generation of planning tools. We're proud to be giving municipal staff technology they can re-deploy themselves, building internal skills to be technology innovators.</p> 
        </div>
        <div class="medium-5 columns some-padding-top">
          <a class="button large expand radius" href="http://community.openplans.org/" target="_blank"><small>Talk about our software at</small><br>community.openplans.org</a>
          <h4>We're open in other ways too&hellip;</h4>
          <p class="">We help neighborhood organizations get started with our tools, providing technical assistance and capacity building. We consider ourselves impartial, informed guides to the exciting world of civic technology. We&#8217;re also a convener and host for events that help advance ideas of progressive, tech-supported planning, including <a href="http://planningcamp.org/"><strong>PlanningCamp</strong></a> and <a href="http://transportationcamp.org/"><strong>TransportationCamp</strong></a>. As an organization and individually, we strive to be good citizens in our home towns of New York City and Philadelphia.</p>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
