{% extends 'product-base.html' %}

{% block page %}

<section class="">
  <div class="row">
    <div class="small-12 columns">
      <h2>Why open source?</h2>
      <p>All the software we build is open source.</p>
      <p>Open source means that our code and processes are open. You can <a href="https://trello.com/b/94MT3WRQ/openplans-roadmap">use our roadmap</a> to see what we're going to build next, and you can get involved in re-using and improving our tools at <a href="https://github.com/openplans/">github.com/openplans</a>. We welcome participation in our projects and are grateful to everyone for their contributions of code, ideas, and feedback. 
      <p>Because our software is open, everyone benefits from each improvement we make. Investments by cities in tools contributes to supporting a new generation of planning tools. We're proud to be giving municipal staff technology they can re-deploy themselves, building internal skills to be technology innovators.</p> 
      <p>We're open in other ways too: we help neighborhood organizations get started with our tools, providing technical assistance and capacity building. We consider ourselves impartial, informed guides to the exciting world of civic technology.We&#8217;re also a convener and host for events that help advance ideas of progressive, tech-supported planning, including <a href="http://planningcamp.org/">PlanningCamp</a> and <a href="http://transportationcamp.org/">TransportationCamp</a>. As an organization and individually, we strive to be good citizens in our home towns of New York City and Philadelphia.</p>
    </div>
  </div>
</section>

{% endblock %}
