{% extends 'product-base.html' %}

{% block main %}

<section class="main">
  <div class="row">
    <div class="small-12 columns">
      <h3>Lost your password?</h3>
      <p>Enter your email address and we'll send you a link to reset your password.</p>
      <form>
        <p><input required type="email" name="my-email" id="my-email" class="input-block" placeholder="email@example.org" tabindex="1"> <label for="my-email" class="float-label"><strong>Email</strong></label></p>
        <p><input type="submit" value="Reset Password" class="button large" tabindex="2"></p>
      </form>
    </div>
  </div>
</section>

{% endblock %}
