<div class="row some-padding-bottom">
  <div class="medium-12 large-4 columns">
    <ul class="pricing-table">
      <li class="title">Account</li>
      <li class="price">Free</li>
      <li class="description"><a href="/signup/" class=""><strong>Sign up</strong></a> and start making maps. Try out all our templates&mdash;they're fully functional prior to payment.</li>
      <li class="bullet-item">Create an unlimited number of trial maps</li>
      <li class="bullet-item">Test all the <!-- <a href="#"> -->features<!-- </a> -->, <em>risk free!</em></li>
      <li class="cta-button"><a class="button large less-padding radius expand" href="/signup/">Get Started</a></li>
    </ul>
  </div>
  <div class="medium-6 large-4 columns">
    <ul class="pricing-table">
      <li class="title">Map Activation</li>
      <li class="price">$300<small>/month <small><strong>OR</strong></small></small></li>
      <li class="price" style="background-color:PaleGreen;position:relative;box-shadow:0 0 8px 2px Green;border-radius:3px;text-shadow:1px 1px 0 PaleGreen;margin-right:-2px;margin-left:-3px;"><span style="position:absolute;top:-0.75em;left:-0.75em;-webkit-transform:rotate(-18deg);background-color:DimGray;font-weight:bold;color:#fff;font-size:12px;line-height:1.2;padding:0.875em 0.75em;border-radius:100%;box-shadow: 0 0 8px 2px LightGreen;font-family:Bitter,sans-serif;text-shadow:none;">BEST<br>DEAL</span>$3,000<small> one-time</small></li>
      <li class="description">Maps are free for {{ settings.TRIAL_DAYS }}&nbsp;days. After that, you can pay as you go. If you need your map for more than a year, save over 20% with a one-time payment for the life of your project.</li>
      <li class="bullet-item">Collect up to <strong>10,000 points</strong> per map</li>
    </ul>    
  </div>
  <div class="medium-6 large-4 columns">
    <ul class="pricing-table">
      <li class="title">Map + Custom &amp; Support</li>
      <li class="price">$1,200<small>/month <small><strong>OR</strong></small></small></li>
      <li class="price" style="border-top:1px solid #ddd;">$9,900<small> one-time</small></li>
      <li class="description">Need more? We offer many services, including consultation with the OpenPlans team,
        unlimited email &amp; phone support,
        daily email reports tailored to fit your project,
        custom map layers, survey configuration, icons, colors, domain name, and&hellip;</li>
        <li class="bullet-item"><a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}" class="open-intercom"><strong>CONTACT US TO LEARN MORE</strong></a></li>
    </ul>    
  </div>
</div>
