<div class="row">
  <div class="medium-6 columns">
    <div class="panel radius">
      <div>
        <div class="panel-header some-margin-bottom"><h4 class="no-margin-bottom text-center">Plan</h4></div>
        <p class="text-large some-margin-bottom" style="line-height:1.25;"><strong>Your plan has everything needed to start collecting input, including:</strong></p>
        <ul class="some-margin-bottom">
          <li>Real-time data dashboard, showing latest activity</li>
          <li>Moderation tools, to review &amp; manage input</li>
          <li>User-tested templates for effective data collection on desktop &amp; mobile devices</li>
          <li>Data export for further work with other tools</li>
          <li>Straightforward content editing&mdash;add text, images, and&nbsp;documents to give your plan context</li>
          <li>Hassle-free hosting</li>            
        </ul>
        <div class="row collapse">
          <div class="medium-6 columns">
            <h4 class="text-center panel radius no-margin-bottom">$<strong>300</strong><br><small>MONTHLY</small></h4>
          </div>
          <div class="medium-6 columns">
            <h4 class="text-center panel radius no-margin-bottom">$<strong>3,000</strong><br><small>ONE-TIME</small></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-6 columns">
    <div class="panel radius">
      <div>
        <div class="panel-header some-margin-bottom"><h4 class="no-margin-bottom text-center">Plan + Customization &amp; Support</h4></div>
        <p class="text-large some-margin-bottom" style="line-height:1.25;"><strong>In addition to all that's included with your plan, you also get:</strong></p>
        <ul class="some-margin-bottom">
          <li>Customization consultation with the OpenPlans team</li>
          <li>Unlimited email &amp; phone support</li>
          <li>Daily email reports, customized for your project</li>
          <li>Custom map layers</li>
          <li>Custom survey configuration</li>
          <li>Custom-styled plan templates</li>
          <li>Custom domain names</li>
          <li>GIS integration <small>(COMING SOON)</small></li>
        </ul>
        <div class="row collapse">
          <div class="medium-6 columns">
            <h4 class="text-center panel radius no-margin-bottom">$<strong>1,200</strong><br><small>MONTHLY</small></h4>
          </div>
          <div class="medium-6 columns">
            <h4 class="text-center panel radius no-margin-bottom">$<strong>9,900</strong><br><small>ONE-TIME</small></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <p class=""><strong>Monthly plans can be stopped at&nbsp;any&nbsp;time. One-time payments are good for the entire duration of your&nbsp;project.</strong></p>
  <p class="tiny-margin-bottom">Require a registered vendor? <br>Need to pay by an alternate method? <br>Want to purchase multiple projects? <br>Working on a community project?</p>
  <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}" class="open-intercom button small radius less-padding"><strong>Contact Us</strong></a>
</div>