{% extends 'product-base.html' %}

{% block page %}

<div class="row extra-padding-top extra-padding-bottom">
  <div class="small-12 columns text-center">
    <br>
    <h1>Uh-oh. Your&nbsp;plan has&nbsp;expired.</h1>
    <h3 class="extra-margin-bottom">(But it's not too late.)</h3>
    <p><a href="#" class="button large radius shadowed">Buy Plan</a></p>
    <p>Need to extend your trial? Can't pay online? <a href="mailto:{{contact_email}}" class="open-intercom">Contact us.</a></p>
  </div>
</div>

{% endblock %}
