<div style="position:relative;">
  <span id="setup" class="offset-anchor"></span>
  <span id="pricing" class="offset-anchor"></span>
  <h2 class="extra-padding-top extra-margin-bottom"><a href="#pricing" class="unstyled-link">Pricing</a> <small><em>The first {{ settings.TRIAL_DAYS }}&nbsp;days are on us!</em></small></h2>
  <!-- <h3 class=""><em>The first {{ settings.TRIAL_DAYS }}&nbsp;days are on us!</em></h3> -->

  {% include 'payment-options.html' %}

  <p class="">
    Require a registered vendor or another payment method? 
    <br class="show-for-medium-up">Working on a community project? 
    <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}" class="open-intercom"><strong>Contact Us</strong></a>
  </p>
</div>
