{% extends 'base.html' %}
{% load include_handlebars from djangobars %}

{% block title %}
Plan In A Box
{% endblock %}

{% block meta %}
  <meta name="description" content="Still using old-fashioned methods to promote your street improvement projects? Get useful, timely, engaging project info onto the web with Plan In A Box.">
  <meta name="author" content="OpenPlans">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="planinabox">
  <meta name="twitter:title" content="Plan In A Box">
  <meta name="twitter:description" content="Still using old-fashioned methods to promote your street improvement projects? Put timely, engaging information about your projects online in a matter of minutes.">
  <meta name="twitter:creator" content="@planinabox">
  {% comment %} TODO: Fill this in with Planbox logo
  <meta name="twitter:image:src" content="">
  {% endcomment %}

  <!-- Facebook -->
  <meta property="og:title" content="Plan In A Box" />
  <meta property="og:description" content="Still using old-fashioned methods to promote your street improvement projects? Put timely, engaging information about your projects online in a matter of minutes." />
  {% comment %} TODO: Fill this in with Planbox logo
  <meta property="og:image" content="" />
  {% endcomment %}

{% endblock %}

{% block styles %}
  {% if debug %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.css" type="text/css" />
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.min.css?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}" type="text/css" />
  {% endif %}
{% endblock %}

{% block page %}

<div class="contain-to-grid sticky openplans-top-bar">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><img src="{{ STATIC_URL }}images/openplans-logo-hole.png" class="openplans-logo-hole"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="http://blog.openplans.org/">Blog</a></li>
        <li class="has-dropdown">
          <a href="/about/">About</a>
          <ul class="dropdown">
            <li><a href="/about/">About Us</a></li>
            <li><a href="/about/#team">Our Team</a></li>
            <li><a href="/about/#clients">Clients</a></li>
            <li><a href="/how-we-work/">How We Work</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li><a href="/help" class="software-help-link">Help &amp; Feedback</a></li>
        <li class="active has-dropdown">
          <a href="/{{ user.username }}/new/">{{ user.username }}</a>
          <ul class="dropdown">
            {% include_handlebars 'user-menu.html' %}
          </ul>
        </li>
        {% else %}
        <li class="active"><a href="/signin">Sign In</a></li>
        {% endif %}
      </ul>
    </section>
  </nav>
</div>

{% block main %}{% endblock %}

{% endblock %}

{% block scripts %}
  {% if debug %}
  <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}scripts/components.min.js?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}"></script>
  {% endif %}

  <script>
    $(function() {
      $('.user-menu-link').click(function(evt) {
        evt.preventDefault();
        $('.user-menu').toggleClass('is-open');
      });
    });
  </script>
{% endblock %}
