{% extends 'base.html' %}
{% load include_handlebars from djangobars %}

{% block title %}
OpenPlans
{% endblock %}

{% block meta %}
  <meta name="description" content="Community Engagement &hearts; Better Places. Our web tools help you manage communications &amp; constructive public input.">
  <meta name="author" content="OpenPlans">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="openplans">
  <meta name="twitter:title" content="OpenPlans">
  <meta name="twitter:description" content="Community Engagement &hearts; Better Places. Our web tools help you manage communications &amp; constructive public input.">
  <meta name="twitter:creator" content="@openplans">
  {% comment %} TODO: Fill this in with OpenPlans logo
  <meta name="twitter:image:src" content="">
  {% endcomment %}

  <!-- Facebook -->
  <meta property="og:title" content="OpenPlans" />
  <meta property="og:description" content="Community Engagement &hearts; Better Places. Our web tools help you manage communications &amp; constructive public input." />
  {% comment %} TODO: Fill this in with OpenPlans logo
  <meta property="og:image" content="" />
  {% endcomment %}

{% endblock %}

{% block styles %}
  {% if debug %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css" type="text/css" />
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.min.css?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}" type="text/css" />
  {% endif %}
{% endblock %}

{% block topbar %}
<div class="{% if is_editable %}{% else %}contain-to-grid {% endif %}sticky openplans-top-bar">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><img src="{{ STATIC_URL }}images/openplans-logo-hole.png" class="openplans-logo-hole"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="http://blog.openplans.org/">Blog</a></li>
        <li><a href="http://community.openplans.org/">Community</a></li>
        <li class="has-dropdown">
          <a href="/about/">About</a>
          <ul class="dropdown">
            <li><a href="/about/">About OpenPlans</a></li>
            <li><a href="/shareabouts/">Shareabouts</a></li>
            <li><a href="/open-source/">Open Source</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li><a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}" class="open-intercom">Help</a></li>
        <li class="active has-dropdown">
          <a href="/{{ user.username }}/">{{ user.username }}</a>
          <ul class="dropdown">
            {% include_handlebars 'user-menu.html' %}
          </ul>
        </li>
        {% else %}
        <li class="active"><a href="/signin">Sign In</a></li>
        {% endif %}
      </ul>
    </section>
  </nav>
</div>
{% endblock %}

{% block page %}{% endblock %}

{% block scripts %}
  {% if debug %}
  <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}scripts/components.min.js?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}"></script>
  {% endif %}

  <script>
    $(function() {

      $('.user-menu-link').click(function(evt) {
        evt.preventDefault();
        $('.user-menu').toggleClass('is-open');
      });

      $('.show-details-all').click(function(evt) {
        evt.preventDefault();
        $('.pricing-matrix').addClass('all-details-revealed');
        $(this).remove();
      });

    });
  </script>
{% endblock %}
