{% extends 'admin-base.html' %}
{% load handlebarsjs from jstemplate %}
{% load as_json from planbox_utils %}

{% block title %}Dashboard: {{ project.title }}{% endblock %}

{% block styles %}
  {% if debug %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css" type="text/css" />
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.min.css?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}" type="text/css" />
  {% endif %}
{% endblock %}

{% block appscripts %}
  <script>
    var Planbox = Planbox || {}

    Planbox.bootstrapped = {
      staticUrl: '{{ STATIC_URL }}',
      rootPath: '{{ request.path_info }}'
    };

    Planbox.Data = {
      project: {{ project_data|as_json }},
      user: {{ user_data|as_json }},
      owner: {{ owner_data|as_json }},
      isEditable: {{ is_editable|as_json }},
      contactEmail: {{ settings.PLANBOX_CONTACT_EMAIL|as_json }},
      s3UploadBucket: {{ settings.S3_MEDIA_BUCKET|as_json }},
      s3UploadData: {{ s3_upload_form_data|as_json }}
    };

    Raven.setUserContext({
        username: Planbox.Data.user.email,
        id: Planbox.Data.user.id
    });
  </script>

  {% if debug %}
  <script src="{{ STATIC_URL }}bower_components/list.js/dist/list.js"></script>
  <script src="{{ STATIC_URL }}bower_components/list.pagination.js/dist/list.pagination.js"></script>

  <script src="{{ STATIC_URL }}scripts/utils.js"></script>
  <script src="{{ STATIC_URL }}scripts/handlebars-helpers.js"></script>
  <script src="{{ STATIC_URL }}scripts/file-upload.js"></script>
  <script src="{{ STATIC_URL }}scripts/models.js"></script>
  <script src="{{ STATIC_URL }}scripts/views/mixins.js"></script>
  <script src="{{ STATIC_URL }}scripts/project-dashboard/project-dashboard-view.js"></script>
  <script src="{{ STATIC_URL }}scripts/project-dashboard/activity-panel-view.js"></script>
  <script src="{{ STATIC_URL }}scripts/plugins.js"></script>
  <script src="{{ STATIC_URL }}scripts/base-app.js"></script>
  <script src="{{ STATIC_URL }}scripts/project-dashboard/app.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}scripts/app-project-dashboard.min.js?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}"></script>
  {% endif %}

  {% if debug %}
  <script src="{{ STATIC_URL }}scripts/project-dashboard/shareabouts-dataset-place-count-widget-view.js"></script>
  <script src="{{ STATIC_URL }}scripts/project-dashboard/shareabouts-dataset-comment-count-widget-view.js"></script>
  <script src="{{ STATIC_URL }}scripts/project-dashboard/shareabouts-dataset-support-count-widget-view.js"></script>
  <script src="{{ STATIC_URL }}scripts/project-dashboard/shareabouts-dataset-unique-contrib-count-widget-view.js"></script>
  <script src="{{ STATIC_URL }}scripts/project-dashboard/shareabouts-manage-places-view.js"></script>
  <script src="{{ STATIC_URL }}scripts/project-dashboard/shareabouts-project-dashboard-plugin.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}scripts/shareabouts-project-dashboard.min.js?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}"></script>
  {% endif %}

  {% handlebarsjs 'shareabouts-dashboard/(.*)' precompile register_partials %}
  {% handlebarsjs 'project-dashboard/(.*)' precompile register_partials %}
  {% handlebarsjs 'common/(.*)' precompile register_partials %}

{% endblock appscripts %}
