{% extends 'base.html' %}
{% load handlebarsjs from jstemplate %}
{% load as_json from planbox_utils %}
{% load striptags from planbox_utils %}
{% load force_list from planbox_utils %}


{% block title %}{{ project_data.title }}{% endblock %}

{% block meta %}
  <meta name="description" content="{{ project_data.description|striptags:' ' }}">
  {# TODO: Fill this in with project's owner name #}
  <meta name="author" content="OpenPlans">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@planinabox">
  <meta name="twitter:title" content="{{ project_data.title|striptags:' ' }}">
  <meta name="twitter:description" content="{{ project_data.description|striptags:' ' }}">
  {% comment %} TODO: Fill this in with project owner's twitter name
  <meta name="twitter:creator" content="">
  {% endcomment %}
  {% comment %} TODO: Fill this in with Planbox logo or project image
  <meta name="twitter:image:src" content="">
  {% endcomment %}

  <!-- Facebook -->
  <meta property="og:site_name" content="OpenPlans"/>
  <meta property="og:title" content="{{ project_data.title|striptags:' ' }}" />
  <meta property="og:description" content="{{ project_data.description|striptags:' ' }}" />
  {% comment %} TODO: Fill this in with Planbox logo or project image
  <meta property="og:image" content="" />
  {% endcomment %}

{% endblock %}

{% block icons %}
  {% if project.theme.definition.favicon %}
  <link rel="icon" href="{{ project.theme.definition.favicon|safe }}">
  <link rel="shortcut icon" href="{{ project.theme.definition.favicon|safe }}">
  {% else %}
  <link rel="icon" href="{{ STATIC_URL }}images/favicon.png">
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">
  {% endif %}

  {% for icon in project.theme.definition.icons %}
  <link rel="shortcut icon" {% if icon.sizes %}sizes="{{ icon.sizes }}"{% endif %} href="{{ icon.url }}">
  <link rel="apple-touch-icon-precomposed" {% if icon.sizes %}sizes="{{ icon.sizes }}"{% endif %} href="{{ icon.url }}">
  {% empty %}
  <link rel="shortcut icon" sizes="144x144" href="{{ STATIC_URL }}images/apple-touch-icon-144x144-precomposed.png">
  <link rel="shortcut icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114-precomposed.png">
  <link rel="shortcut icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72-precomposed.png">
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/apple-touch-icon-precomposed.png">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch-icon-precomposed.png">
  {% endfor %}
{% endblock %}

{% block styles %}
  {% if debug %}

  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/normalize-css/normalize.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/pickadate/lib/themes/classic.css" id="theme_base">
  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/pickadate/lib/themes/classic.date.css" id="theme_date">
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/leaflet-0.7.2/leaflet.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/shareabouts-js/src/styles/shareabouts.css" />
  {% if is_editable %}
  <!-- <link rel="stylesheet" href="{{ STATIC_URL }}styles/admin.css" type="text/css" /> -->
  {% endif %}

  {% else %}

  <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.min.css?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}" type="text/css" />
  {% if is_editable %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/admin.min.css?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}" type="text/css" />
  {% endif %}

  {% endif %} {# debug #}

  {% for css_url in project.theme.definition.css|force_list %}
  <link rel="stylesheet" href="{{ css_url|safe }}">
  {% endfor %}

{% endblock %}


{% block scripts %}
  {% if debug %}
  <script src="{{ STATIC_URL }}bower_components/jqueryui/ui/jquery.ui.core.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqueryui/ui/jquery.ui.widget.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqueryui/ui/jquery.ui.mouse.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqueryui/ui/jquery.ui.sortable.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>

  <script src="{{ STATIC_URL }}bower_components/handlebars/handlebars.js"></script>
  <script src="{{ STATIC_URL }}bower_components/underscore/underscore.js"></script>
  <script src="{{ STATIC_URL }}bower_components/backbone/backbone.js"></script>
  <script src="{{ STATIC_URL }}bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
  <script src="{{ STATIC_URL }}bower_components/backbone-relational/backbone-relational.js"></script>
  <script src="{{ STATIC_URL }}bower_components/django-csrf.js/django-csrf.js"></script>
  <script src="{{ STATIC_URL }}bower_components/pen/src/pen.js"></script>
  <script src="{{ STATIC_URL }}bower_components/swag/lib/swag.js"></script>
  <script src="{{ STATIC_URL }}bower_components/FileAPI/dist/FileAPI.js"></script>
  <script src="{{ STATIC_URL }}bower_components/moment/moment.js"></script>
  <script src="{{ STATIC_URL }}bower_components/chrono/chrono.min.js"></script>
  <script src="{{ STATIC_URL }}bower_components/pickadate/lib/picker.js"></script>
  <script src="{{ STATIC_URL }}bower_components/pickadate/lib/picker.date.js"></script>
  <script src="{{ STATIC_URL }}bower_components/leaflet-0.7.2/leaflet-src.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqxdomainrequest/jQuery.XDomainRequest.js"></script>

  <script src="{{ STATIC_URL }}bower_components/gatekeeper/gatekeeper.js"></script>
  <script src="{{ STATIC_URL }}bower_components/shareabouts-js/src/utils.js"></script>
  <script src="{{ STATIC_URL }}bower_components/shareabouts-js/src/models.js"></script>
  <script src="{{ STATIC_URL }}bower_components/shareabouts-js/src/panel-layout.js"></script>
  <script src="{{ STATIC_URL }}bower_components/shareabouts-js/src/place-detail-view.js"></script>
  <script src="{{ STATIC_URL }}bower_components/shareabouts-js/src/place-form-view.js"></script>
  <script src="{{ STATIC_URL }}bower_components/shareabouts-js/src/map.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}scripts/components.min.js?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}"></script>
    {% if is_editable %}
  <script src="{{ STATIC_URL }}scripts/components-admin.min.js?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}"></script>
    {% endif %}
  {% endif %}
  <script>Swag.registerHelpers(Handlebars);</script>

  <script>
    var Planbox = Planbox || {}

    Planbox.bootstrapped = {
      staticUrl: '{{ STATIC_URL }}',
      projectRootPath: '{{ request.path_info }}'
    };

    Planbox.Data = {
      project: {{ project_data|as_json }},
      user: {{ user_data|as_json }},
      isEditable: {{ is_editable|as_json }},
      statuses: [
        { 'value': 'not-started', 'label': 'Not Started'},
        { 'value': 'active', 'label': 'Active'},
        { 'value': 'complete', 'label': 'Complete'}
      ],
      contactEmail: {{ settings.PLANBOX_CONTACT_EMAIL|as_json }},
      s3UploadBucket: {{ settings.S3_MEDIA_BUCKET|as_json }},
      s3UploadData: {{ s3_upload_form_data|as_json }}
    };
  </script>

  {% if debug %}
  <script src="{{ STATIC_URL }}scripts/utils.js"></script>
  <script src="{{ STATIC_URL }}scripts/handlebars-helpers.js"></script>
  <script src="{{ STATIC_URL }}scripts/file-upload.js"></script>
  <script src="{{ STATIC_URL }}scripts/models.js"></script>
  <script src="{{ STATIC_URL }}scripts/views/mixins.js"></script>
  <script src="{{ STATIC_URL }}scripts/views/base.js"></script>
  <script src="{{ STATIC_URL }}scripts/views/display.js"></script>
  <script src="{{ STATIC_URL }}scripts/views/admin/section.js"></script>
  <script src="{{ STATIC_URL }}scripts/views/admin/project.js"></script>
  <script src="{{ STATIC_URL }}scripts/app.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}scripts/app.min.js?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}"></script>
  {% endif %}

  {% for js_url in project.theme.definition.js|force_list %}
  <script src="{{ js_url|safe }}"></script>
  {% endfor %}

  {% handlebarsjs '(.*)' precompile register_partials %}

  {% comment %}
  For all the event microdata attributes, see
  http://diveintohtml5.info/extensibility.html
  and search for "Event Vocabulary".
  {% endcomment %}

  <ul class="hide">
    {% for event in project_data.events %}

    {% if event.datetime_label %}
    <li itemscope itemtype="http://data-vocabulary.org/Event">
      <header itemprop="summary">{{ event.label|safe }}</header>
      <a itemprop="url" href="{{ request.build_absolute_uri }}#event-{{ event.slug }}"></a>
      <time itemprop="startDate" datetime="{{ event.start_datetime }}"></time>
      <time itemprop="endDate" datetime="{{ event.end_datetime }}"></time>
      <div itemprop="description">{{ event.description|safe }}</div>
    </li>
    {% endif %}

    {% endfor %}
  </ul>

{% endblock %}