{% extends 'base.html' %}
{% load jstemplate %}


{% block title %}
Main Street Pedestrian Improvements
{% endblock %}


{% block meta_description %}
All about the Main Street Pedestrian Improvements
{% endblock %}


{% block styles %}
  {% if debug %}
  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/normalize-css/normalize.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/admin.css" type="text/css" media="screen, projection" />
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/dist/style.min.css" type="text/css" media="screen, projection" />
  {% endif %}
{% endblock %}


{% block scripts %}
  {% if debug %}
  <script src="{{ STATIC_URL }}bower_components/jquery/jquery.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqueryui/ui/jquery.ui.core.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqueryui/ui/jquery.ui.widget.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqueryui/ui/jquery.ui.mouse.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqueryui/ui/jquery.ui.sortable.js"></script>
  <script src="{{ STATIC_URL }}bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>

  <script src="{{ STATIC_URL }}bower_components/handlebars/handlebars.js"></script>
  <script src="{{ STATIC_URL }}bower_components/underscore/underscore.js"></script>
  <script src="{{ STATIC_URL }}bower_components/backbone/backbone.js"></script>
  <script src="{{ STATIC_URL }}bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
  <script src="{{ STATIC_URL }}bower_components/backbone-relational/backbone-relational.js"></script>

  <script>
    // Test data!
    var Planbox = {
      Data: {
        project: {{ project_data|safe }}
      }
    };
  </script>

  <script src="{{ STATIC_URL }}scripts/models.js"></script>
  <script src="{{ STATIC_URL }}scripts/views.js"></script>
  <script src="{{ STATIC_URL }}scripts/app.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}scripts/dist/components.min.js"></script>
  {% endif %}

  {% handlebarsjs '(.*)' precompile register_partials %}
<!--
<script>
  $( document ).ready(function() {

    if (window.location.hash == "#admin") {
      $('.project-header').addClass('logged-in').before('<div class="admin-bar">Signed in as <a href="#"><strong>Username</strong></a>. <a href="#" class="logout">Sign Out</a></div>');
      $('.project-colophon').after('<div class="save-bar"><div class="container"><a href="#" class="save-btn btn btn-block btn-large">Save Project</a></div></div>');
      $('p:not(.project-status,.powered-by), h1, h2, h3, h4, h5, h6').attr('contenteditable','true').addClass('content-editable');
      $('.event').addClass('draggable').append('<span class="handle">&#8801;</span>').append('<span class="delete"><span class="delete-icon">&times;</span> Delete</span>');
      // $('.event-list').sortable({
      //   handle: '.handle'
      // });
      $('.project-timeline .container').append('<a href="#" class="btn btn-small add-event-btn">Add Event</a>')
      $('.project-status').append('<select class="status-selector"><option>Not Started</option><option selected="selected">Active</option><option>Complete</option></select>');
    }

  });
</script>
-->

{% endblock %}