{% extends 'admin-base.html' %}

{% block title %}Dashboard: {{ project.title }}{% endblock %}

{% block page %}

<div class="row extra-padding-top some-padding-bottom">

  <h3 class="small-12 columns">{{ project.title }}</h3>
  <div class="small-2 columns">
    <a href="../edit/">Edit<span class="show-for-medium-up"> Plan</span></a>
  </div>
  <div class="small-10 columns">
    <ul class="tabs right" data-tab role="tablist" data-options="deep_linking:true">
      <li class="tab-title active" role="presentational" ><a href="#panel-activity" role="tab" tabindex="0" aria-selected="true" controls="panel-activity">Activity</a></li>
      <li class="tab-title" role="presentational" ><a href="#panel-manage" role="tab" tabindex="0" aria-selected="false">Manage</a></li>
      <!-- li class="tab-title" role="presentational" ><a href="#panel-export" role="tab" tabindex="0" aria-selected="false" controls="panel-export">Export</a></li -->
    </ul>
  </div>
  <div class="tabs-content small-12 columns container some-padding-top">
    <section role="tabpanel" aria-hidden="false" class="content active" id="panel-activity">
      <div class="row">
        <div class="medium-4 columns">
          <div class="stat-widget coming-soon stat-widget-big-number panel radius text-center">
            <strong class="count">#</strong> <span class="unit">places</span>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="stat-widget coming-soon stat-widget-big-number panel radius text-center">
            <strong class="count">#</strong> <span class="unit">comments</span>
          </div>
        </div>
        <div class="medium-4 columns">
          <div class="stat-widget coming-soon stat-widget-big-number panel radius text-center">
            <strong class="count">#</strong> <span class="unit">supports</span>
          </div>
        </div>
      </div><!-- end .row -->
      <div class="row">
        <div class="medium-4 columns">
          <div class="stat-widget coming-soon stat-widget-big-number panel radius text-center">
            <strong class="count">#</strong> <span class="unit">Unique Contributors</span>
          </div>
          <div class="stat-widget coming-soon stat-widget-big-number panel radius text-center">
            <strong class="count">&hellip;</strong> <span class="unit">User Demographics</span>
          </div>
        </div>
        <div class="medium-8 columns">
          <div class="stat-widget coming-soon stat-widget-big-number panel radius text-center">
            <div><strong>Age: &hellip;<br>Ethnicity: &hellip;<br>ZIP: &hellip;<br>Language: &hellip;<br><br></strong></div>
            <span class="unit">User Demographics</span>
          </div>
          <div class="stat-widget coming-soon stat-widget-big-number panel radius text-center">
            <div class="row collapse">
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:10px solid transparent; border-bottom:30px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:28px solid transparent; border-bottom:12px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:20px solid transparent; border-bottom:20px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:30px solid transparent; border-bottom:10px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:31px solid transparent; border-bottom:9px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:33px solid transparent; border-bottom:7px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:20px solid transparent; border-bottom:20px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:21px solid transparent; border-bottom:19px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:23px solid transparent; border-bottom:17px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:5px solid transparent; border-bottom:35px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:0px solid transparent; border-bottom:40px solid #ddd;"></div></div>
              <div class="small-1 columns"><div style="background-color:transparent; border-right:1px solid transparent; border-left:1px solid transparent; border-top:4px solid transparent; border-bottom:36px solid #ddd;"></div></div>
            </div>
            <span class="unit">Usage Over Time</span>
          </div>
        </div>
      </div><!-- end .row -->
    </section>
    <section role="tabpanel" aria-hidden="true" class="content" id="panel-manage">

      <div class="pagination-centered">
        <ul class="pagination some-margin-bottom">
          <li class="arrow unavailable"><a href="">&laquo;</a></li>
          <li class="current"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li class="unavailable"><a href="">&hellip;</a></li>
          <li><a href="">12</a></li>
          <li><a href="">13</a></li>
          <li class="arrow"><a href="">&raquo;</a></li>
        </ul>
      </div>

      <div class="table-container">
        <table role="grid">
        <thead>
        <th>AREA_NUMBE</th>
        <th>CommArea</th>
        <th>WARD</th>
        <th>_imported_id</th>
        <th>attachments.0.created_datetime</th>
        <th>attachments.0.file</th>
        <th>attachments.0.name</th>
        <th>attachments.0.updated_datetime</th>
        <th>created_datetime</th>
        <th>dataset</th>
        <th>date_surveyed</th>
        <th>description</th>
        <th>geometry</th>
        <th>id</th>
        <th>location.adminArea1</th>
        <th>location.adminArea1Type</th>
        <th>location.adminArea3</th>
        <th>location.adminArea3Type</th>
        <th>location.adminArea4</th>
        <th>location.adminArea4Type</th>
        <th>location.adminArea5</th>
        <th>location.adminArea5Type</th>
        <th>location.displayLatLng.lat</th>
        <th>location.displayLatLng.lng</th>
        <th>location.dragPoint</th>
        <th>location.geocodeQuality</th>
        <th>location.geocodeQualityCode</th>
        <th>location.latLng.lat</th>
        <th>location.latLng.lng</th>
        <th>location.linkId</th>
        <th>location.mapUrl</th>
        <th>location.postalCode</th>
        <th>location.sideOfStreet</th>
        <th>location.street</th>
        <th>location.type</th>
        <th>location_type</th>
        <th>name</th>
        <th>notes_public</th>
        <th>private-submitter_email</th>
        <th>private_approved_qty</th>
        <th>private_approved_type</th>
        <th>private_contractor_notes</th>
        <th>private_date_installed</th>
        <th>private_date_surveyed</th>
        <th>private_notes</th>
        <th>private_post_inspected_by</th>
        <th>private_post_inspection_results</th>
        <th>private_priority</th>
        <th>private_source</th>
        <th>private_source_locator</th>
        <th>rejection_reason</th>
        <th>status</th>
        <th>submission_sets.comments.length</th>
        <th>submission_sets.comments.url</th>
        <th>submission_sets.support.length</th>
        <th>submission_sets.support.url</th>
        <th>submitter</th>
        <th>submitter.avatar_url</th>
        <th>submitter.id</th>
        <th>submitter.name</th>
        <th>submitter.username</th>
        <th>submitter_name</th>
        <th>updated_datetime</th>
        <th>url</th>
        <th>user_token</th>
        <th>visible</th>
        </thead>
        <tr>
        <td>8</td>
        <td>NEAR NORTH SIDE</td>
        <td>42</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-16T17:13:31.473365+00:00</td>
        <td>374</td>
        <td></td>
        <td>311 SR #14-01673905</td>
        <td>POINT (-87.6288629999999955
        41.9057189999999977)</td>
        <td>257239</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.905552</td>
        <td>-87.628884</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.905719</td>
        <td>-87.628863</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.905718617593855,-87.6288628578186,0,0|&amp;center=41.905718617593855,-87.6288628578186&amp;zoom=15&amp;rand=683327398</td>
        <td>60610</td>
        <td>N</td>
        <td>1254 North State Parkway</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>1258 N State Pkwy</td>
        <td colspan=2><a href="mailto:lorem@gmail.com">lorem@gmail.com</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>http://editor.chicagocompletestreets.org/cdot-avatar_bigger.png</td>
        <td>1206</td>
        <td>Chicago DOT</td>
        <td colspan=2>chicagobikes</td>
        <td>2014-10-16T17:13:33.183592+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/257239</td>
        <td>user:1206</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>24</td>
        <td>WEST TOWN</td>
        <td>26</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-16T17:07:07.792469+00:00</td>
        <td>374</td>
        <td></td>
        <td>311 SR #14-01653827</td>
        <td>POINT (-87.6994689999999935
        41.8993699999999976)</td>
        <td>257237</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.899383</td>
        <td>-87.699543</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.89937</td>
        <td>-87.699469</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.89937032131184,-87.69946932792662,0,0|&amp;center=41.89937032131184,-87.69946932792662&amp;zoom=15&amp;rand=729885828</td>
        <td>60622</td>
        <td>N</td>
        <td>1000 North Francisco Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>1000 N Francisco Ave</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>http://editor.chicagocompletestreets.org/cdot-avatar_bigger.png</td>
        <td>1206</td>
        <td>Chicago DOT</td>
        <td colspan=2>chicagobikes</td>
        <td>2014-10-16T17:07:08.456682+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/257237</td>
        <td>user:1206</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>24</td>
        <td>WEST TOWN</td>
        <td>27</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-16T17:05:13.088711+00:00</td>
        <td>374</td>
        <td></td>
        <td>311 SR #14-01652928</td>
        <td>POINT (-87.6565539999999999
        41.8912959999999970)</td>
        <td>257233</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.891311</td>
        <td>-87.656543</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.891296</td>
        <td>-87.656554</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.891296293229125,-87.65655398368835,0,0|&amp;center=41.891296293229125,-87.65655398368835&amp;zoom=15&amp;rand=414270781</td>
        <td>60642</td>
        <td>N</td>
        <td>1148 West Grand Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>1148 W Grand Ave</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>http://editor.chicagocompletestreets.org/cdot-avatar_bigger.png</td>
        <td>1206</td>
        <td>Chicago DOT</td>
        <td colspan=2>chicagobikes</td>
        <td>2014-10-16T17:05:15.387083+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/257233</td>
        <td>user:1206</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>24</td>
        <td>WEST TOWN</td>
        <td>32</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-16T17:04:11.523359+00:00</td>
        <td>374</td>
        <td></td>
        <td>311 SR #14-01619829</td>
        <td>POINT (-87.6865949999999970
        41.8987550000000013)</td>
        <td>257231</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.898745</td>
        <td>-87.686575</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.898755</td>
        <td>-87.686595</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.89875542135329,-87.68659472465515,0,0|&amp;center=41.89875542135329,-87.68659472465515&amp;zoom=15&amp;rand=2074923654</td>
        <td>60645</td>
        <td>N</td>
        <td>939 North Western Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>939 N Western Ave</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>http://editor.chicagocompletestreets.org/cdot-avatar_bigger.png</td>
        <td>1206</td>
        <td>Chicago DOT</td>
        <td colspan=2>chicagobikes</td>
        <td>2014-10-16T17:04:12.578314+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/257231</td>
        <td>user:1206</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td>48</td>
        <td>233902</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-08-02T07:01:40.303504+00:00</td>
        <td>374</td>
        <td >6/19/14</td>
        <td>There's a Mariano's, Chase bank, and a
        McDonald's at this intersection.  A bike rack or two in the general area
        would be nice, so that people didn't have to lock to poles.</td>
        <td>POINT (-87.6549179999999950
        41.9765650000000008)</td>
        <td>233902</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.976971</td>
        <td>-87.654335</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.976565</td>
        <td>-87.654918</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.9765650466557,-87.65491783618927,0,0|&amp;center=41.9765650466557,-87.65491783618927&amp;zoom=15&amp;rand=316221261</td>
        <td>60640</td>
        <td>N</td>
        <td>5201 North Sheridan Road</td>
        <td>s</td>
        <td>bikeparking</td>
        <td>Corner of Foster and Sheridan</td>
        <td>Mariano's has several large racks at the back
        entrance to their store, off Sheridan in their parking garage.</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>FALSE</td>
        <td colspan=2>Submitted via public map</td>
        <td></td>
        <td>Rejected</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-16T15:14:30.601740+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/233902</td>
        <td>session:24ced42b60ebc0abe4b758fef0d1e007</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>21</td>
        <td>AVONDALE</td>
        <td>33</td>
        <td>203885</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-06-27T18:25:01.279688+00:00</td>
        <td>374</td>
        <td></td>
        <td>Hello there! <br>
        <br>
        <br>
        <br>
        I am requesting on behalf of Ignite GL. We are a gaming business which
        brings many kids to our location, and many of which have bikes. Since the
        area does not have many poles, and it's summer (meaning more cyclists), we
        are lacking space for these bikes. Many people are now trying to park on our
        handicap ramp, which we cannot have. We would like to request at least 2 bike
        parking spots, if allowed. Thank you so much for your time!<br>
        <br>
        <br>
        <br>
        Amy</td>
        <td>POINT (-87.7022266387999991
        41.9421352541000019)</td>
        <td>203885</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.942316</td>
        <td>-87.701998</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.942135</td>
        <td>-87.702227</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.942135254079254,-87.70222663879395,0,0|&amp;center=41.942135254079254,-87.70222663879395&amp;zoom=15&amp;rand=-136624294</td>
        <td>60646</td>
        <td>N</td>
        <td>3333 North Elston Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td>Ignite Gaming Lounge </td>
        <td>Sidewalk here is very narrow - CDOT requires a
        10' or wider sidewalk to install bike racks, in order to not block pedestrian
        flow.</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>FALSE</td>
        <td colspan=2>Submitted via public map</td>
        <td>Insufficient Sidewalk Width</td>
        <td>Rejected</td>
        <td></td>
        <td></td>
        <td>4</td>
        <td colspan=6>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/<span
        style='display:none'>203885/support</td>
        <td>Amy Gonzalez </td>
        <td>2014-10-16T15:05:52.410655+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/203885</td>
        <td>session:9200f5826112445827473548297f4db6</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>3</td>
        <td>UPTOWN</td>
        <td>46</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-16T13:12:07.544881+00:00</td>
        <td>374</td>
        <td></td>
        <td>Requested via email.</td>
        <td>POINT (-87.6537320000000051
        41.9662489999999977)</td>
        <td>257099</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.966165</td>
        <td>-87.653682</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.966249</td>
        <td>-87.653732</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.96624923035891,-87.65373229980469,0,0|&amp;center=41.96624923035891,-87.65373229980469&amp;zoom=15&amp;rand=1790950110</td>
        <td>60640</td>
        <td>N</td>
        <td>931 West Eastwood Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>The People's Music School</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>http://editor.chicagocompletestreets.org/cdot-avatar_bigger.png</td>
        <td>1206</td>
        <td>Chicago DOT</td>
        <td colspan=2>chicagobikes</td>
        <td>2014-10-16T13:12:09.133633+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/257099</td>
        <td>user:1206</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>24</td>
        <td>WEST TOWN</td>
        <td>27</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-16T01:48:17.786507+00:00</td>
        <td>374</td>
        <td></td>
        <td></td>
        <td>POINT (-87.6589220000000040
        41.8935129999999987)</td>
        <td>257071</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.893938</td>
        <td>-87.658585</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.893513</td>
        <td>-87.658922</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.89351255983905,-87.6589223742485,0,0|&amp;center=41.89351255983905,-87.6589223742485&amp;zoom=15&amp;rand=-1234251629</td>
        <td>60612</td>
        <td>N</td>
        <td>West Huron Street</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>Carpenter Elementary School</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Jake</td>
        <td>2014-10-16T01:48:18.678162+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/257071</td>
        <td>session:c2e111e5189dfac0197255d94f07c471</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>21</td>
        <td>AVONDALE</td>
        <td>35</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-16T01:45:29.556328+00:00</td>
        <td>374</td>
        <td></td>
        <td>Two bike racks are damaged in this location.
        They have completely rusted off.</td>
        <td>POINT (-87.7183870000000070
        41.9464919999999992)</td>
        <td>257069</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.946494</td>
        <td>-87.718897</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.946492</td>
        <td>-87.718387</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.946492362768936,-87.71838694810867,0,0|&amp;center=41.946492362768936,-87.71838694810867&amp;zoom=15&amp;rand=1805017850</td>
        <td>60618</td>
        <td>N</td>
        <td>Addison Street</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>Addison Blue Line</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Jakub Muszynski</td>
        <td>2014-10-16T01:45:32.779819+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/257069</td>
        <td>session:c2e111e5189dfac0197255d94f07c471</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>32</td>
        <td>LOOP</td>
        <td>42</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-16T01:43:37.895731+00:00</td>
        <td>374</td>
        <td></td>
        <td>Bike racks are always full with the many
        DePaul CDM student that utilize the existing racks.</td>
        <td>POINT (-87.6259739999999994
        41.8785039999999995)</td>
        <td>257068</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.878478</td>
        <td>-87.625576</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.878504</td>
        <td>-87.625974</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.87850433678306,-87.62597411870956,0,0|&amp;center=41.87850433678306,-87.62597411870956&amp;zoom=15&amp;rand=1313122698</td>
        <td>60604</td>
        <td>N</td>
        <td>243 South Wabash Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>243 S Wabash Ave, Chicago, IL 60604</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Jakub Muszynski</td>
        <td>2014-10-16T01:43:38.750093+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/257068</td>
        <td>session:c2e111e5189dfac0197255d94f07c471</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>28</td>
        <td>NEAR WEST SIDE</td>
        <td>27</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-15T20:43:19.919262+00:00</td>
        <td>374</td>
        <td></td>
        <td>Wide sidewalk on Carroll here. </td>
        <td>POINT (-87.6769280000000037
        41.8875719999999987)</td>
        <td>256989</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.887343</td>
        <td>-87.677317</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.887572</td>
        <td>-87.676928</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.887572392853876,-87.67692804336546,0,0|&amp;center=41.887572392853876,-87.67692804336546&amp;zoom=15&amp;rand=1881750842</td>
        <td>60612</td>
        <td>N</td>
        <td>2001-2011 West Carroll Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td>ICNC </td>
        <td></td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Sydney Barton</td>
        <td>2014-10-15T20:43:20.888573+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256989</td>
        <td>session:686a903aff33aaabe16523d171a8168a</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>4</td>
        <td>LINCOLN SQUARE</td>
        <td>40</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-14T16:13:56.475133+00:00</td>
        <td>374</td>
        <td></td>
        <td>On the sidewalk across from the school. Bike
        racks are desperately needed!</td>
        <td>POINT (-87.6751790000000000
        41.9796880000000030)</td>
        <td>256616</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.979453</td>
        <td>-87.67542</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.979688</td>
        <td>-87.675179</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.97968757984351,-87.67517924308777,0,0|&amp;center=41.97968757984351,-87.67517924308777&amp;zoom=15&amp;rand=-936084560</td>
        <td>60640</td>
        <td>N</td>
        <td>5356 North Ravenswood Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>Rogers Park Montessori School</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Mollie Wegerson</td>
        <td>2014-10-14T16:13:57.215078+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256616</td>
        <td>session:b7415e6bd5ef3a5637c45fcb2b74c54c</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>24</td>
        <td>WEST TOWN</td>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-14T16:12:11.326234+00:00</td>
        <td>374</td>
        <td></td>
        <td>The closest CTA stop if a bus stop on the
        corner of Paulina and Milwaukee and the Division Blue line stop the next
        street over. There is a potbelly's across the street and an Al's beef next
        door. At the address listed above, the second floor has been renovated and
        outfitted with private offices. The majority of who rely on bikes and the CTA
        to get to work since there is no reliable free parking nearby. There is also
        a building across the street and next to Potbelly's being renovated. Soon
        there will be more office space and businesses in the same location.</td>
        <td>POINT (-87.6695197820999965
        41.9050937976000029)</td>
        <td>256615</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.905009</td>
        <td>-87.669528</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.905096</td>
        <td>-87.66952</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.90509579380824,-87.66951978206635,0,0|&amp;center=41.90509579380824,-87.66951978206635&amp;zoom=15&amp;rand=1127061636</td>
        <td>60622</td>
        <td>N</td>
        <td>1286 North Milwaukee Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>Milwaukee/Paulina</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>1</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256615/comments</td>
        <td>2</td>
        <td colspan=6>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/<span
        style='display:none'>256615/support</td>
        <td>Melissa</td>
        <td>2014-10-14T16:12:12.086817+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256615</td>
        <td>session:41025905d326a4f519ea343dd37b9360</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>8</td>
        <td>NEAR NORTH SIDE</td>
        <td>42</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-13T17:08:30.809598+00:00</td>
        <td>374</td>
        <td></td>
        <td>I'm astounded that there are no bike racks
        between the NBC Tower and Gleacher Center. Bikes have nothing but poles to
        lock to. There is a Divvy Station there so obviously people bike to this
        location.</td>
        <td>POINT (-87.6217440000000067
        41.8893849999999972)</td>
        <td>256298</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.889605</td>
        <td>-87.622245</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.889385</td>
        <td>-87.621744</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.889385450287236,-87.62174427509308,0,0|&amp;center=41.889385450287236,-87.62174427509308&amp;zoom=15&amp;rand=-1022995733</td>
        <td>60611</td>
        <td>N</td>
        <td>411 North Cityfront Plaza Drive</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>Cityfront Plaza Dr - Area between
        NBC Tower and Gleacher Center</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>1</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256298/comments</td>
        <td>16</td>
        <td colspan=6>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/<span
        style='display:none'>256298/support</td>
        <td>Rich S</td>
        <td>2014-10-13T17:08:33.846797+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256298</td>
        <td>session:ce51b30dfac4293c564d45632a8a1ae4</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>21</td>
        <td>AVONDALE</td>
        <td>33</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-13T17:04:20.295195+00:00</td>
        <td>374</td>
        <td></td>
        <td>Tons of small business on this corner but no
        bike racks. Rack on the east side of California was rejected due to sidewalk
        space. The island in the middle has tons of room for bike racks without
        blocking a sidewalk.</td>
        <td>POINT (-87.6979939999999942
        41.9393000000000029)</td>
        <td>256296</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.939637</td>
        <td>-87.698064</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.9393</td>
        <td>-87.697994</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.939300180521585,-87.69799411296844,0,0|&amp;center=41.939300180521585,-87.69799411296844&amp;zoom=15&amp;rand=-985704094</td>
        <td>60641</td>
        <td>N</td>
        <td>2800-2806 West Belmont Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>Island between Belmont, California,
        and Elston</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>1</td>
        <td colspan=6>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/<span
        style='display:none'>256296/support</td>
        <td>Rich S</td>
        <td>2014-10-13T17:04:21.175689+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256296</td>
        <td>session:ce51b30dfac4293c564d45632a8a1ae4</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>6</td>
        <td>LAKE VIEW</td>
        <td>44</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-13T14:32:19.041817+00:00</td>
        <td>374</td>
        <td></td>
        <td>There are several large apartment buildings
        here with nowhere for friends, visitors, workers, delivery persons, etc. to
        lock bikes. There are only sucker poles and private property fences with
        &quot;bikes will be removed&quot; signs. Proper racks would be much appreciated!</td>
        <td>POINT (-87.6408579999999944
        41.9411860000000019)</td>
        <td>256257</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.941509</td>
        <td>-87.640764</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.941186</td>
        <td>-87.640858</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.94118558830663,-87.6408576965332,0,0|&amp;center=41.94118558830663,-87.6408576965332&amp;zoom=15&amp;rand=759142403</td>
        <td>60657</td>
        <td>N</td>
        <td>422-424 West Melrose Street</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>422-424 West Melrose</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>1</td>
        <td colspan=6>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/<span
        style='display:none'>256257/support</td>
        <td>Matt</td>
        <td>2014-10-13T14:32:21.256761+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256257</td>
        <td>session:4aa8ed3dc29bf129f29595818abb9fb9</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>28</td>
        <td>NEAR WEST SIDE</td>
        <td>2</td>
        <td></td>
        <td>2014-10-13 14:23:58.919917+00:00</td>
        <td>https://shareabouts_attachments.s3.amazonaws.com/attachments/Osa68qB-blob</td>
        <td>my_image</td>
        <td>2014-10-13 14:23:58.995496+00:00</td>
        <td>2014-10-13T14:23:56.582523+00:00</td>
        <td>374</td>
        <td></td>
        <td>Chicago Union Station and main Metra stations
        should have secure underground bike valet facilities to provide passengers
        with a dry and secure place to keep their bikes when making transit
        connections. These could be similar to the McDonald's cycle center but
        simpler and must be convenient to the stations for ease of use. Many people
        do not bike to Metra because their bike is too much at risk of getting stolen
        left outside, and it is too much of a hassle to bring on board (which is why
        Metra also needs easier roll on bike access). See this photo I took last week
        in Amsterdam of a 24/7 bike valet garage. The first 24hrs were free to park
        and the stairs even had a little motorized conveyor belt to help you walk
        your bike up and down.</td>
        <td>POINT (-87.6403640000000053
        41.8785960000000017)</td>
        <td>256254</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.878114</td>
        <td>-87.639971</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.878596</td>
        <td>-87.640364</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.878596201984344,-87.64036417007446,0,0|&amp;center=41.878596201984344,-87.64036417007446&amp;zoom=15&amp;rand=-1543827119</td>
        <td>60661</td>
        <td>N</td>
        <td>West Jackson Boulevard</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>Chicago Union Station and all main
        Metra Stations</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>1</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256254/comments</td>
        <td>1</td>
        <td colspan=6>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/<span
        style='display:none'>256254/support</td>
        <td>Suzanne</td>
        <td>2014-10-13T14:23:57.916703+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256254</td>
        <td>session:79281368d9852d0b5c7a81c3088b7c17</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>28</td>
        <td>NEAR WEST SIDE</td>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-13T14:03:54.189165+00:00</td>
        <td>374</td>
        <td></td>
        <td>There are 2 existing racks at this location
        but both are blocked with abandoned bikes and locks. Those should be removed
        and more racks added for Union Station and the fitness club.</td>
        <td>POINT (-87.6389690000000030
        41.8780649999999994)</td>
        <td>256251</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.878285</td>
        <td>-87.638876</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.878065</td>
        <td>-87.638969</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.87806497964653,-87.63896942138672,0,0|&amp;center=41.87806497964653,-87.63896942138672&amp;zoom=15&amp;rand=1053638420</td>
        <td>60661</td>
        <td>N</td>
        <td>444 West Jackson Boulevard</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>Union Station South Elevator/Fitness
        Formula Clubs Entrance</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Matt</td>
        <td>2014-10-13T14:03:56.728917+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256251</td>
        <td>session:4aa8ed3dc29bf129f29595818abb9fb9</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>57</td>
        <td>ARCHER HEIGHTS</td>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-10-11T20:05:24.532906+00:00</td>
        <td>374</td>
        <td></td>
        <td>At working Bikes, we have a large number of
        Curie students who volunteer or shop.  They tell me that their school has
        more bicycle commuters than bike racks.  This past Spring, one of our most
        valued volunteers had a bike stolen from the orange line bike racks.  I believe
        this could have been prevented by providing better bicycle racks on Curie's
        site.  Thank you.</td>
        <td>POINT (-87.7225899999999967
        41.8025189999999967)</td>
        <td>256004</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.803122</td>
        <td>-87.722662</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.802519</td>
        <td>-87.72259</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.802518597042535,-87.72258996963501,0,0|&amp;center=41.802518597042535,-87.72258996963501&amp;zoom=15&amp;rand=-1215381270</td>
        <td>60632</td>
        <td>N</td>
        <td>4970 South Archer Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td colspan=2>Curie high School</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>1</td>
        <td colspan=6>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/<span
        style='display:none'>256004/support</td>
        <td>Paul Fitzgerald</td>
        <td>2014-10-11T20:05:26.138082+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/256004</td>
        <td>session:0d36597b2dccad6fc7af1ab68b7c412d</td>
        <td>TRUE</td>
        </tr>
        <tr>
        <td>7</td>
        <td>LINCOLN PARK</td>
        <td>32</td>
        <td>204076</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2014-06-30T13:05:40.678340+00:00</td>
        <td>374</td>
        <td></td>
        <td></td>
        <td>POINT (-87.6544082165000020
        41.9131561012999967)</td>
        <td>204076</td>
        <td>US</td>
        <td>Country</td>
        <td>IL</td>
        <td>State</td>
        <td>Cook County</td>
        <td>County</td>
        <td>Chicago</td>
        <td>City</td>
        <td>41.913252</td>
        <td>-87.654413</td>
        <td>FALSE</td>
        <td>ADDRESS</td>
        <td>L1AAA</td>
        <td>41.913156</td>
        <td>-87.654408</td>
        <td>0</td>
        <td>http://open.mapquestapi.com/staticmap/v4/getmap?key=Fmjtd|luur2g0bnl,25=o5-9at29u&amp;type=map&amp;size=225,160&amp;pois=purple-1,41.91315610133476,-87.65440821647643,0,0|&amp;center=41.91315610133476,-87.65440821647643&amp;zoom=15&amp;rand=-120463195</td>
        <td>60614</td>
        <td>N</td>
        <td>1834-1854 North Clybourn Avenue</td>
        <td>s</td>
        <td>bikeparking</td>
        <td>Goose Island Brewing Co - Clybourn</td>
        <td>Insufficient sidewalk width</td>
        <td colspan=2>lorem@gmail.com</td>
        <td></td>
        <td></td>
        <td></td>
        <td >10/10/14</td>
        <td></td>
        <td></td>
        <td></td>
        <td>FALSE</td>
        <td colspan=2>Submitted via public map</td>
        <td>Insufficient Sidewalk Width</td>
        <td>Rejected</td>
        <td></td>
        <td></td>
        <td>1</td>
        <td colspan=2>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/204076/support</td>
        <td>https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/t1.0-1/c0.0.100.100/p100x100/10397826_10203464623990273_3479777478132437395_n.jpg</td>
        <td>1236</td>
        <td>Reuben Hussmann</td>
        <td colspan=2>ReubenHussmann</td>
        <td>2014-10-10T21:47:52.473197+00:00</td>
        <td>http://data.shareabouts.org/api/v2/chicagobikes/datasets/chicago-bike-parking/places/204076</td>
        <td>user:1236</td>
        <td>TRUE</td>
        </tr>
        </table>
      </div>

      <div class="pagination-centered">
        <ul class="pagination some-margin-top some-margin-bottom">
          <li class="arrow unavailable"><a href="">&laquo;</a></li>
          <li class="current"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li class="unavailable"><a href="">&hellip;</a></li>
          <li><a href="">12</a></li>
          <li><a href="">13</a></li>
          <li class="arrow"><a href="">&raquo;</a></li>
        </ul>
      </div>

    </section>
    <section role="tabpanel" aria-hidden="false" class="content active" id="panel-export">
    </section>
  </div>

</div>

{% endblock %}
