{% extends 'product-base.html' %}

{% block page %}

<section class="extra-padding-bottom">
  <div class="extra-padding-top extra-padding-bottom shareabouts-page-header">
    <div class="row shareabouts-page-header">
      <div class="small-12 large-5 columns">

        <div class="row shareabouts-page-header-text">
          <div class="medium-8 large-12 columns">
            <h2 class="extra-padding-bottom"><img src="{{ STATIC_URL }}images/shareabouts/shareabouts-logo.png" alt="Shareabouts" title="Shareabouts"></h2>
            <h4 class="some-padding-bottom">Shareabouts is a flexible tool for gathering public input on a map.</h4>
            <p>Collect local insights from neighborhood residents, or round up data at a state-wide scale. Bike networks, trash maps, street safety, participatory budgeting&hellip; Pick a Shareabouts that meets your needs.</p>
          </div>
          <div class="medium-4 large-12 columns text-center extra-padding-top">
            <p><a href="http://www.planetizen.com/websites2013"><img src="{{ STATIC_URL }}images/shareabouts/plnz-topwebsite-2013.png"></a></p>
          </div>
        </div>

      </div>
      <div class="small-12 large-7 large-pull-1 columns">

        <div class="shareabouts-slideshow">
          <img src="{{ STATIC_URL }}images/shareabouts/laptop.png">
          <!-- <img class="shareabouts-slide" src="{{ STATIC_URL }}images/shareabouts/shareabouts-770x493-divvy.jpg"> -->
          <!-- <img class="shareabouts-slide" src="{{ STATIC_URL }}images/shareabouts/shareabouts-770x493-makebrooklynsafer.jpg"> -->
          <img class="shareabouts-slide" src="{{ STATIC_URL }}images/shareabouts/shareabouts-770x493-pb.jpg">
          <img class="shareabouts-slide fade fade4" src="{{ STATIC_URL }}images/shareabouts/shareabouts-770x493-nyrising.jpg">
          <img class="shareabouts-slide fade fade3" src="{{ STATIC_URL }}images/shareabouts/shareabouts-770x493-ourmiami.jpg">
          <img class="shareabouts-slide fade fade2" src="{{ STATIC_URL }}images/shareabouts/shareabouts-770x493-visionzero.jpg">
          <img class="shareabouts-slide fade" src="{{ STATIC_URL }}images/shareabouts/shareabouts-770x493-chibikes.jpg">
        </div>

      </div>
    </div>
  </div>

  <div class="row extra-padding-bottom extra-margin-bottom">
    <div class="small-12 large-7 columns">
      <h3 class="some-padding-top">Who's using Shareabouts?</h3>
      <p class="text-large">Shareabouts has been used to gather public input in dozens of municipalities, for transportation planning, participatory budgeting, resiliency mapping and more. Check out some recent Shareabouts maps:</p>

      <div class="shareabouts-instances">
        <div class="panel clearfix">
          <a href="http://www.nyc.gov/html/visionzero/pages/dialogue/map.html">
            <img class="left" alt="NYC DOT Vision Zero" src="{{ STATIC_URL }}images/shareabouts/vision-zero.png" width="100" height="100" />
            <div class="description">
              <h4>NYC DOT Vision Zero map</h4>
              New York City is collecting feedback on street safety conditions like speeding and double parking, using Shareabouts and Google Street View.
            </div>
          </a>
        </div>
        <div class="panel clearfix">
          <a href="http://bikeparking.chicagocompletestreets.org">
            <img class="left" alt="Chicago Bike Parking" src="{{ STATIC_URL }}images/shareabouts/chicago-bike-parking.png" width="100" height="100" />
            <div class="description">
              <h4>CDOT Bike Parking Requests</h4>
              Chicago residents can request a bike rack using Shareabouts. With a custom admin tool, city staff can review and reply to requests, and track installation tasks for contractors.
            </div>
          </a>
        </div>
        <div class="panel clearfix">
          <a href="http://ideas.ourmiami.org">
            <img class="left" alt="Our Miami" src="{{ STATIC_URL }}images/shareabouts/Our-Miami-shot-150x150.png" width="100" height="100" />
            <div class="description">
              <h4>Miami Public Space Challenge</h4>
              The Miami Foundation is discovering the best ideas for activating public spaces in Miami.
            </div>
          </a>
        </div>
        <div class="panel clearfix">
          <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-borotaxis.png" />
          <div class="description">
            <h4>Boro Taxis</h4>
            NYC&#8217;s Taxi and Limousine Commission recently gathered locations for new Boro Taxi stands.
          </div>
        </div>
        <div class="panel clearfix">
          <a href="http://suggest.divvybikes.com/">
            <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-divvy.png" />
            <div class="description">
              <h4>Divvy Bikes</h4>
              Divvy is asking Chicago for location suggestions, to help place 175 more bike share stations this year.
            </div>
          </a>
        </div>
        <div class="panel clearfix">
            <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-vahi.png" />
            <div class="description">
              <h4>Virginia Highland Master Plan</h4>
              Residents of Atlanta&#8217;s Virginia Highlands informed a community master plan, sharing what they see and know about the neighborhood on the map.
            </div>
        </div>
        <div class="panel clearfix">
          <a href="http://map84.makebrooklynsafer.org/">
            <img class="left" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-makebrooklynsafer.png" />
            <div class="description">
              <h4>Make Brooklyn Safer</h4>
              Neighbors are collecting information on dangerous intersections in Brooklyn, NY, to support advocacy with police and elected officials.
            </div>
          </a>
        </div>
        <div class="panel clearfix">
          <a href="http://nyrisingmap.org/">
            <img class="left" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-nyrising.png" />
            <div class="description">
              <h4>NY Rising</h4>
              The New York Rising Community Reconstruction Program is using Shareabouts to identify projects and actions for rebuilding and resiliency in six NYC neighborhoods.
            </div>
          </a>
        </div>
        <div class="panel clearfix">
          <a href="http://d39.pbnyc.org/page/about">
            <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-pb.png" />
            <div class="description">
              <h4>Participatory Budgeting in NYC</h4>
              Residents of eight NYC council districts will directly decide how to spend $15 million of public money, with ideas coming in via Shareabouts and public events.
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="small-12 large-5 columns">
      <div class="row text-center">
        <div class="small-9 small-centered medium-4 medium-uncentered large-9 large-centered columns">
          <div class="row"><div class="small-8 small-centered columns">
            <img class="" src="{{ STATIC_URL }}images/feature-armyknife.gif">
          </div></div>
          <h4>Flexible Configuration</h4>
          <p>Customize your survey questions, map, icons, data layers, and logos.</p>
        </div>
        <div class="small-9 small-centered medium-4 medium-uncentered large-9 large-centered columns">
          <div class="row"><div class="small-8 small-centered columns">
            <img class="" src="{{ STATIC_URL }}images/feature-publish.gif">
          </div></div>
          <h4>Web-based Interface</h4>
          <p>Works on any device, desktop and mobile. No need to download an app.</p>
        </div>
        <div class="small-9 small-centered medium-4 medium-uncentered large-9 large-centered columns">
          <div class="row"><div class="small-8 small-centered columns">
            <img class="" src="{{ STATIC_URL }}images/feature-chart.gif">
          </div></div>
          <h4>Analysis &amp; Reports</h4>
          <p>Explore and better understand the information you're collecting.</p>
        </div>
      </div>
      <h5 class="extra-padding-top">Configure What Information You Gather</h5>
      <ul style="padding-right: 1rem;">
        <li><p class="some-margin-bottom">Configure categories for submissions, differentiating them with map icons.</p></li>
        <li><p class="some-margin-bottom">Collect additional information about participants&mdash;optionally gather name, zip code, and private contact info. Send automatic followup emails to keep people engaged.</p></li>
        <li><p class="some-margin-bottom">Flexible surveys can ask open questions to collect detailed qualitative information. Or use checkboxes, drop-down lists, and yes/no questions to collet quantitative information. Or go visual and let users upload photographs.</p></li>
        <li><p class="some-margin-bottom">Stay on top of your input with daily email reports. Explore, moderate, and download your data.</p></li>
        <li><p class="some-margin-bottom">Link responses to other relevant map layers such as neighborhoods &amp; districts to better understand the data.</p></li>
      </ul>
      <p class="some-margin-bottom">Shareabouts not only helps build detailed data from local wisdom but it&rsquo;s also effective for project promotion. A well-designed, rewarding public input tool helps your project reach more people. Shareabouts users can browse locations submitted by others, add comments and questions, and share them on Twitter &amp; Facebook.</p>
      <h5 class="some-padding-top">Open source</h5>
      <p class="text-small">Shareabouts is an open source project. Developers can redeploy it and get involved <a href="https://github.com/openplans/shareabouts">on Github</a>. Give feedback and shape what's coming next <a href="https://trello.com/b/94MT3WRQ/openplans-roadmap">on our roadmap</a>. </p>
    </div>
  </div>

</section>

{% endblock %}
