{% extends 'product-base.html' %}

{% block main %}

<section class="">
  <div class="row">
    <div class="small-12 columns">

      <div class="page-header">
        <h2>Shareabouts</h2>
        <div class="row">
          <div class="large-10 columns">
            <p class="small-big-paragraph">Shareabouts is a flexible tool for gathering public input. Collect informative local insights from a wide range of participants at neighborhood to state-scales. Configure it yourself in <a href="http://openplans.org/signin">an OpenPlans project</a>, or <a href="http://openplans.org/about/">contact us</a> to set up a custom map for you.</p>
          </div>
          <div class="large-2 columns text-right show-for-large-up">
            <a href="http://www.planetizen.com/websites2013"><img src="{{ STATIC_URL }}images/shareabouts/plnz-topwebsite-2013.png"></a>
          </div>
          <hr>
        </div>
      </div>

      <div class="pricing-matrix row collapse" data-equalizer>
        <div class="small-12 large-3 columns">
          <ul class="pricing-table">
            <li class="title">Shareabouts in OpenPlans</li>
            <li class="bullet-item"><strong>Free</strong></li>
            <li class="description" data-equalizer-watch>Embed a simple Shareabouts map in your OpenPlans project page to collect locations and comments.</li>
            <li class="cta-button"><a class="button expand radius" href="#">Sign Up</a></li>
            <!-- items below hidden by default -->
            <li class="bullet-item extra-pricing-info">High-quality Mapbox map</li>
            <li class="bullet-item extra-pricing-info">Default Shareabouts icons</li>
            <li class="bullet-item extra-pricing-info">Collect location, description, name</li>
            <li class="bullet-item extra-pricing-info">Moderate submissions (coming soon!)</li>
          </ul>
          <a class="show-details button expand tiny secondary hide-for-large-up" href="#">More Information</a>
        </div>
        <div class="small-12 large-3 columns">
          <ul class="pricing-table">
            <li class="title">Shareabouts Subscription</li>
            <li class="bullet-item"><strong>$500 setup + $300/month</strong></li>
            <li class="description" data-equalizer-watch>You decide what information to collect from your community. We configure Shareabouts for you, using our tried and tested default template. </li>
            <li class="cta-button"><a class="button expand radius" href="#">Get Started</a></li>
            <!-- items below hidden by default -->
            <li class="bullet-item extra-pricing-info">Choose a light or dark map style</li>
            <li class="bullet-item extra-pricing-info">Add your logo to the Shareabouts interface</li>
            <li class="bullet-item extra-pricing-info">Flexible survey questions - collect what you need</li>
            <li class="bullet-item extra-pricing-info">Collect comments</li>
            <li class="bullet-item extra-pricing-info">Collect support clicks</li>
            <li class="bullet-item extra-pricing-info">Collect photos</li>
            <li class="bullet-item extra-pricing-info">Bring your own translation</li>
            <li class="bullet-item extra-pricing-info">Weekly summary emails</li>
            <li class="bullet-item extra-pricing-info">Full moderator access to hide and manage submissions</li>
          </ul>
          <a class="show-details button expand tiny secondary hide-for-large-up" href="#">More Information</a>
        </div>
        <div class="small-12 large-3 columns">
          <ul class="pricing-table">
            <li class="title">Shareabouts Project</li>
            <li class="bullet-item"><strong>$9,900/year</strong></li>
            <li class="description" data-equalizer-watch>We tailor Shareabouts to fit your project, including custom styling of colors, typography, icons, and map tiles to match your brand.</li>
            <li class="cta-button"><a class="button expand radius" href="#">Contact Us</a></li>
            <!-- items below hidden by default -->
            <li class="bullet-item extra-pricing-info">Custom maps, including additional map layers with your data</li>
            <li class="bullet-item extra-pricing-info">Custom template design to match your project styling</li>
            <li class="bullet-item extra-pricing-info">Flexible survey questions - collect what you need</li>
            <li class="bullet-item extra-pricing-info">Collect comments</li>
            <li class="bullet-item extra-pricing-info">Collect support clicks</li>
            <li class="bullet-item extra-pricing-info">Collect photos</li>
            <li class="bullet-item extra-pricing-info">Translated map text</li>
            <li class="bullet-item extra-pricing-info">Upload existing data to the map</li>
            <li class="bullet-item extra-pricing-info">Daily and weekly summary emails</li>
            <li class="bullet-item extra-pricing-info">Custom progress reports online and via email</li>
            <li class="bullet-item extra-pricing-info">Full moderator access to hide and manage submissions</li>
            <li class="bullet-item extra-pricing-info">CRM integration</li>
            <li class="bullet-item extra-pricing-info">Wrap-up data report</li>
            <li class="bullet-item extra-pricing-info">Custom data analysis</li>
          </ul>
          <a class="show-details button expand tiny secondary hide-for-large-up" href="#">More Information</a>
        </div>
        <div class="small-12 large-3 columns">
          <ul class="pricing-table">
            <li class="title">Shareabouts Enterprise</li>
            <li class="bullet-item"><strong>Contact for Pricing</strong></li>
            <li class="description" data-equalizer-watch>Engage communities in multiple mapping projects, using pre-designed Shareabouts templates that support your engagement needs.</li>
            <li class="cta-button"><a class="button expand radius" href="#">Contact Us</a></li>
            <!-- items below hidden by default -->
            <li class="bullet-item extra-pricing-info">Collect photos</li>
            <li class="bullet-item extra-pricing-info">GIS integration</li>
            <li class="bullet-item extra-pricing-info">Full moderator access to hide and manage submissions</li>
            <li class="bullet-item extra-pricing-info">Custom data analysis</li>
            <li class="bullet-item extra-pricing-info">Map bundle templates for multiple projects</li>
          </ul>
          <a class="show-details button expand tiny secondary hide-for-large-up" href="#">More Information</a>
        </div>
        <div class="small-12 columns">
          <a class="show-details-all button expand secondary show-for-large-up" href="#">More Information</a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 large-5 columns">
          <h3>Features</h3>
          <p>Shareabouts lets you configure the kinds of information you want to gather:</p>
          <ul>
            <li><p>Configure categories for different submissions, and differentiate them with icons on the map.</p></li>
            <li><p>Collect additional information about participants&mdash;optionally, gather name, zip code, and private contact details.</p></li>
            <li><p>With flexible surveys, ask multiple open questions to collect detailed qualitative information. Or require participants to use checkboxes, drop-down lists and yes/no questions to collet quantitative information.</p></li>
            <li><p>Users can upload photographs when adding locations to the map.</p></li>
            <li><p>Link responses to other relevant map layers, including neighborhoods and elected representatives’ districts. Use this to understand your data as it comes in.</p></li>
          </ul>
          <p>Shareabouts not only helps build up detailed data from local wisdom but it is also effective for project promotion. A well-designed, rewarding public input tool helps your project reach more participants: participants using Shareabouts can browse locations submitted by other people, add comments and questions, and share them over Twitter and Facebook.</p>
          <h3>Open source</h3>
          <p>Shareabouts is an open source project. Developers can redeploy it and get involved <a href="https://github.com/openplans/shareabouts">on Github</a>. Give feedback and shape what's coming next <a href="https://trello.com/b/94MT3WRQ/openplans-roadmap">on our roadmap</a>. </p>
        </div>

        <div class="small-12 large-7 columns">
          <h3>Who's using Shareabouts?</h3>
          <p>Shareabouts has been used to gather public input in dozens of municipalities, for transportation planning, participatory budgeting, resiliency mapping and more. Recent Shareabouts maps:</p>

          <div class="shareabouts-instances">

            <div class="panel clearfix">
              <a href="http://ideas.ourmiami.org">
                <img class="left" alt="Our Miami" src="{{ STATIC_URL }}images/shareabouts/Our-Miami-shot-150x150.png" width="100" height="100" />
                <div class="description">
                  <h4>Miami Public Space Challenge</h4>
                  The Miami Foundation is discovering the best ideas for activating public spaces in Miami.
                </div>
              </a>
            </div>

            <div class="panel clearfix">
              <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-borotaxis.png" />
              <div class="description">
                <h4>Boro Taxis</h4>
                NYC&#8217;s Taxi and Limousine Commission recently gathered locations for new Boro Taxi stands.
              </div>
            </div>

            <div class="panel clearfix">
              <a href="http://suggest.divvybikes.com/">
                <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-divvy.png" />
                <div class="description">
                  <h4>Divvy Bikes</h4>
                  Divvy is asking Chicago for location suggestions, to help place 175 more bike share stations this year.
                </div>
              </a>
            </div>

            <div class="panel clearfix">
              <a href="http://map.vahimasterplan.org/">
                <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-vahi.png" />
                <div class="description">
                  <h4>Virginia Highland Master Plan</h4>
                  Residents of Atlanta&#8217;s Virginia Highlands can help inform a community master plan, sharing what they see and know about the neighborhood on the map.
                </div>
              </a>
            </div>

            <div class="panel clearfix">
              <a href="http://map84.makebrooklynsafer.org/">
                <img class="left" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-makebrooklynsafer.png" />
                <div class="description">
                  <h4>Make Brooklyn Safer</h4>
                  Neighbors are collecting information on dangerous intersections in Brooklyn, NY, to support advocacy with police and elected officials.
                </div>
              </a>
            </div>

            <div class="panel clearfix">
              <a href="http://nyrisingmap.org/">
                <img class="left" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-nyrising.png" />
                <div class="description">
                  <h4>NY Rising</h4>
                  The New York Rising Community Reconstruction Program is using Shareabouts to identify projects and actions for rebuilding and resiliency in six NYC neighborhoods.
                </div>
              </a>
            </div>

            <div class="panel clearfix">
              <a href="http://d39.pbnyc.org/page/about">
                <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-pb.png" />
                <div class="description">
                  <h4>Participatory Budgeting in NYC</h4>
                  Residents of eight NYC council districts will directly decide how to spend $15 million of public money, with ideas coming in via Shareabouts and public events.
                </div>
              </a>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
