{% extends 'product-base.html' %}

{% block page %}

<section class="">
  <div class="row full-width extra-padding-top">
    hi
  </div>

  <div class="row extra-padding-top">
    <div class="small-12 columns">

      <h2>Shareabouts</h2>
      <div class="row">
        <div class="large-10 columns">
          <p class="text-large">Shareabouts is a flexible tool for gathering public input on a map. Collect local insights from participants at neighborhood to state-scales. Work with us, or go DIY&mdash;pick a Shareabouts that meets your needs.</p>
        </div>
        <div class="large-2 columns text-right show-for-large-up">
          <a href="http://www.planetizen.com/websites2013"><img src="{{ STATIC_URL }}images/shareabouts/plnz-topwebsite-2013.png"></a>
        </div>
        <hr>
      </div>

      <div class="pricing-matrix row collapse" data-equalizer>
         <div id="pricing" class="page-anchor"></div>
        <div class="small-12 large-3 columns">
          <ul class="pricing-table">
            <li class="title">Basic</li>
            <li class="bullet-item"><strong>Free</strong></li>
            <li class="description" data-equalizer-watch>Embed a basic Shareabouts map in your OpenPlans project page to collect locations and comments.</li>
            <li class="cta-button"><a class="button expand radius" href="/signup/">Sign Up</a></li>
          </ul>
        </div>
        <div class="small-12 large-3 columns">
          <ul class="pricing-table">
            <li class="title">Subscription</li>
            <li class="bullet-item"><strong>$500 setup + $300/month</strong></li>
            <li class="description" data-equalizer-watch>You decide what information to collect from your community. We configure Shareabouts for you, using our tried and tested default template. <a href="http://demo.shareabouts.org/">Try it here</a>.</li>
            <!-- <li class="cta-button"><a class="button expand radius" href="#">Get Started</a></li> -->
            <li class="cta-button"><a class="button expand radius" href="https://app.moonclerk.com/pay/121pf2ytngg">Sign Up</a></li>
          </ul>
        </div>
        <div class="small-12 large-3 columns">
          <ul class="pricing-table">
            <li class="title">Custom</li>
            <li class="bullet-item"><strong>$9,900</strong></li>
            <li class="description" data-equalizer-watch>We tailor Shareabouts to fit your project, including custom styling of colors, typography, icons, and map tiles to match your brand.</li>
            <li class="cta-button"><a class="button expand radius" href="mailto:hello@openplans.org?subject=Shareabouts Project">Contact Us</a></li>
          </ul>
        </div>
        <div class="small-12 large-3 columns">
          <ul class="pricing-table">
            <li class="title">Multi-site</li>
            <li class="bullet-item"><strong>Contact for Pricing</strong></li>
            <li class="description" data-equalizer-watch>Engage communities in all of your mapping projects with your Custom Shareabouts template.</li>
            <li class="cta-button"><a class="button expand radius" href="mailto:hello@openplans.org?subject=Shareabouts Enterprise">Contact Us</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <a class="show-details-all button secondary expand show-for-large-up" href="#">&#x25BC; More Information &#x25BC;</a>
          <div class="extra-pricing-info">

            <h3 class="extra-pricing-info-header">Collect Information About Places <img class="feature-list-icon" src="{{ STATIC_URL }}images/shareabouts/feature-list-icon-marker.png"> </h3>
            <table>
              <tbody>
                <tr>
                  <td>Simple place surveys</td>
                  <td>Configurable surveys</td>
                  <td>Multi-page surveys with conditional logic</td>
                  <td>Multi-page surveys with conditional logic</td>
                </tr>
                <tr>
                  <td>Collect places only</td>
                  <td>Comments, support clicks and photos</td>
                  <td>Comments, support clicks and photos</td>
                  <td>Comments, support clicks and photos</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Search for addresses</td>
                  <td>Save the nearest address to each location</td>
                  <td>Save the nearest address to each location</td>
                </tr>
                <tr class="spacer"><td></td><td></td><td></td><td></td></tr>
              </tbody>
            </table>

            <h3 class="extra-pricing-info-header">Use a Styled Map to Engage Participants <img class="feature-list-icon" src="{{ STATIC_URL }}images/shareabouts/feature-list-icon-map.png"> </h3>
            <table>
              <tbody>
                <tr>
                  <td>OpenPlans map</td>
                  <td>Streets or satellite map</td>
                  <td>Custom map and icons</td>
                  <td>Custom map and icons</td>
                </tr>
                <tr>
                  <td>OpenPlans template</td>
                  <td>Standard Shareabouts with your logo</td>
                  <td>Hand-styling to match your project</td>
                  <td>Hand-styling to match your project</td>
                </tr>
                <tr class="spacer"><td></td><td></td><td></td><td></td></tr>
              </tbody>
            </table>

            <h3 class="extra-pricing-info-header">Be In Control of Your Data <img class="feature-list-icon" src="{{ STATIC_URL }}images/shareabouts/feature-list-icon-chart.png"> </h3>
            <table>
              <tbody>
                <tr>
                  <td>Data download link</td>
                  <td>Data download link</td>
                  <td>Data manager to review, moderate and download data</td>
                  <td>Custom workflow tools </td>
                </tr>
                <tr>
                  <td>No reports</td>
                  <td>Weekly activity report</td>
                  <td>Custom reports and data analysis</td>
                  <td>Custom reports and data analysis</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Auto-locate contributions into a community district</td>
                  <td>Auto-locate contributions into a community district</td>
                </tr>
                <tr class="spacer"><td></td><td></td><td></td><td></td></tr>
              </tbody>
            </table>

            <h3 class="extra-pricing-info-header">Keep People Engaged <img class="feature-list-icon" src="{{ STATIC_URL }}images/shareabouts/feature-list-icon-conversation.png"> </h3>
            <table>
              <tbody>
                <tr>
                  <td>Collect name and email only</td>
                  <td>Sign in with social media accounts</td>
                  <td>Sign in with social media accounts</td>
                  <td>Sign in with social media accounts</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Email followups</td>
                  <td>Email followups</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Translations</td>
                  <td>Translations</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>CRM integration</td>
                  <td>CRM integration</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Support desk for submission issues</td>
                </tr>
                <tr class="spacer"><td></td><td></td><td></td><td></td></tr>
              </tbody>
            </table>

            <h3 class="extra-pricing-info-header">Scale Shareabouts for Your Organization <img class="feature-list-icon" src="{{ STATIC_URL }}images/shareabouts/feature-list-icon-knob.png"> </h3>
            <table>
              <tbody>
                <tr>
                  <td>Self-service</td>
                  <td>Monthly, pay as you go</td>
                  <td>One-time project engagement</td>
                  <td>Dedicated training and support hours</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Launch new maps based on your custom template</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Integration with your internal GIS tools</td>
                </tr>
                <tr class="spacer"><td></td><td></td><td></td><td></td></tr>
              </tbody>
            </table>

            <h3 class="extra-pricing-info-header">All Features <img class="feature-list-icon" src="{{ STATIC_URL }}images/shareabouts/feature-list-icon-box.png"> </h3>
            <table>
              <tbody>
                <tr>
                  <td>
                    <p>Included in <strong>Basic</strong></p>
                    <p>Collect locations with names &amp; descriptions</p>
                    <p>High-quality Mapbox basemap</p>
                    <p>Default map markers</p>
                  </td>
                  <td>
                    <p>Included in <strong>Subscription</strong></p>
                    <p>Collect all the information you need through configurable surveys</p>
                    <p>Collect comments and support clicks</p>
                    <p>Search by neighborhood or address</p>
                    <p>Upload photos&nbsp;*limited IE support</p>
                    <p>Satellite or Streets basemap from Mapbox</p>
                    <p>Choose from our selection of map icons</p>
                    <p>Add your logo to the header</p>
                    <p>Admin access to moderate submissions</p>
                    <p>Weekly summary email with new activity</p>
                  </td>
                  <td>
                    <p>Included in <strong>Custom</strong></p>
                    <p>Dynamic multi-page surveys with conditional logic</p>
                    <p>Collect comments and support clicks</p>
                    <p>Search by neighborhood or address</p>
                    <p>Upload photos&nbsp;*limited IE support</p>
                    <p>Keep submitters engaged with follow-up emails</p>
                    <p>Custom-designed map to match your project</p>
                    <p>Custom-designed map icons</p>
                    <p>Interface styled to match your project</p>
                    <p>Manager tool for review, responses, and downloads of your data</p>
                    <p>Assign locations automatically to community districts</p>
                    <p>Human-translated multi-language interface</p>
                    <p>Custom activity reports</p>
                    <p>Custom data analysis &amp; presentation</p>
                    <p>Support desk for submission issues</p>
                    <p>CRM integration</p>
                  </td>
                  <td>
                    <p>Included in <strong>Multi-site</strong></p>
                    <p>Dynamic multi-page surveys with conditional logic</p>
                    <p>Collect comments and support clicks</p>
                    <p>Search by neighborhood or address</p>
                    <p>Upload photos&nbsp;*limited IE support</p>
                    <p>Keep submitters engaged with follow-up emails</p>
                    <p>Custom-designed map to match your project</p>
                    <p>Custom-designed map markers</p>
                    <p>Interface styled to match your project</p>
                    <p>Manager tool for review, responses, and downloads of your data</p>
                    <p>Assign locations automatically to multiple custom boundaries</p>
                    <p>Human-translated multi-language interface</p>
                    <p>Custom activity reports</p>
                    <p>Custom data analysis &amp; presentation</p>
                    <p>Support desk for submission issues</p>
                    <p>CRM integration</p>
                    <p>Easily launch new maps based on your custom template</p>
                    <p>Integration with your internal GIS tools</p>
                    <p>Support hours &amp; training</p>
                  </td>
                </tr>
                <tr class="spacer"><td></td><td></td><td></td><td></td></tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 large-5 columns">
          <h3>Features</h3>
          <p>Shareabouts lets you configure the kinds of information you want to gather:</p>
          <ul>
            <li><p>Configure categories for different submissions, and differentiate them with icons on the map.</p></li>
            <li><p>Collect additional information about participants&mdash;optionally, gather name, zip code, and private contact details. Send followup emails automatically to keep people engaged.</p></li>
            <li><p>With flexible surveys, ask multiple open questions to collect detailed qualitative information. Or require participants to use checkboxes, drop-down lists and yes/no questions to collet quantitative information. Or go visual: users can upload photographs when adding locations to the map.</p></li>
            <li><p>Stay on top of your input with daily email reports. Anytime, explore, moderate, and download data using the Shareabouts Manager.</p></li>
            <li><p>Link responses to other relevant map layers, including neighborhoods and elected representatives’ districts. Use this to understand your data as it comes in.</p></li>
          </ul>
          <p>Shareabouts not only helps build up detailed data from local wisdom but it is also effective for project promotion. A well-designed, rewarding public input tool helps your project reach more participants: participants using Shareabouts can browse locations submitted by other people, add comments and questions, and share them over Twitter and Facebook.</p>
          <h3>Open source</h3>
          <p>Shareabouts is an open source project. Developers can redeploy it and get involved <a href="https://github.com/openplans/shareabouts">on Github</a>. Give feedback and shape what's coming next <a href="https://trello.com/b/94MT3WRQ/openplans-roadmap">on our roadmap</a>. </p>
        </div>

        <div class="small-12 large-7 columns">
          <h3>Who's using Shareabouts?</h3>
          <p>Shareabouts has been used to gather public input in dozens of municipalities, for transportation planning, participatory budgeting, resiliency mapping and more. Check out some recent Shareabouts maps:</p>

          <div class="shareabouts-instances">

            <div class="panel clearfix">
              <a href="http://www.nyc.gov/html/visionzero/pages/dialogue/map.html">
                <img class="left" alt="NYC DOT Vision Zero" src="{{ STATIC_URL }}images/shareabouts/vision-zero.png" width="100" height="100" />
                <div class="description">
                  <h4>NYC DOT Vision Zero map</h4>
                  New York City is collecting feedback on street safety conditions like speeding and double parking, using Shareabouts and Google Street View.
                </div>
              </a>
            </div>
            
            <div class="panel clearfix">
              <a href="http://bikeparking.chicagocompletestreets.org">
                <img class="left" alt="Chicago Bike Parking" src="{{ STATIC_URL }}images/shareabouts/chicago-bike-parking.png" width="100" height="100" />
                <div class="description">
                  <h4>CDOT Bike Parking Requests</h4>
                  Chicago residents can request a bike rack using Shareabouts. With a custom admin tool, city staff can review and reply to requests, and track installation tasks for contractors.
                </div>
              </a>
            </div>
            
            <div class="panel clearfix">
              <a href="http://ideas.ourmiami.org">
                <img class="left" alt="Our Miami" src="{{ STATIC_URL }}images/shareabouts/Our-Miami-shot-150x150.png" width="100" height="100" />
                <div class="description">
                  <h4>Miami Public Space Challenge</h4>
                  The Miami Foundation is discovering the best ideas for activating public spaces in Miami.
                </div>
              </a>
            </div>

            <div class="panel clearfix">
              <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-borotaxis.png" />
              <div class="description">
                <h4>Boro Taxis</h4>
                NYC&#8217;s Taxi and Limousine Commission recently gathered locations for new Boro Taxi stands.
              </div>
            </div>

            <div class="panel clearfix">
              <a href="http://suggest.divvybikes.com/">
                <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-divvy.png" />
                <div class="description">
                  <h4>Divvy Bikes</h4>
                  Divvy is asking Chicago for location suggestions, to help place 175 more bike share stations this year.
                </div>
              </a>
            </div>

            <div class="panel clearfix">
                <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-vahi.png" />
                <div class="description">
                  <h4>Virginia Highland Master Plan</h4>
                  Residents of Atlanta&#8217;s Virginia Highlands informed a community master plan, sharing what they see and know about the neighborhood on the map.
                </div>
            </div>

            <div class="panel clearfix">
              <a href="http://map84.makebrooklynsafer.org/">
                <img class="left" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-makebrooklynsafer.png" />
                <div class="description">
                  <h4>Make Brooklyn Safer</h4>
                  Neighbors are collecting information on dangerous intersections in Brooklyn, NY, to support advocacy with police and elected officials.
                </div>
              </a>
            </div>

            <div class="panel clearfix">
              <a href="http://nyrisingmap.org/">
                <img class="left" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-nyrising.png" />
                <div class="description">
                  <h4>NY Rising</h4>
                  The New York Rising Community Reconstruction Program is using Shareabouts to identify projects and actions for rebuilding and resiliency in six NYC neighborhoods.
                </div>
              </a>
            </div>

            <div class="panel clearfix">
              <a href="http://d39.pbnyc.org/page/about">
                <img class="left" alt="" src="{{ STATIC_URL }}images/shareabouts/shareabouts-thumb-pb.png" />
                <div class="description">
                  <h4>Participatory Budgeting in NYC</h4>
                  Residents of eight NYC council districts will directly decide how to spend $15 million of public money, with ideas coming in via Shareabouts and public events.
                </div>
              </a>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
