DEBUG = True
TEMPLATE_DEBUG = DEBUG
INTERNAL_IPS = ('127.0.0.1',)

INSTALLED_APPS += (
    'django_nose',
)

TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'

HTTPS_ENABLED = False
SESSION_COOKIE_SECURE = False
CSRF_COOKIE_SECURE = False

# S3 stuff
S3_MEDIA_BUCKET = 'planbox-media'
AWS_ACCESS_KEY = '12345'
AWS_SECRET_KEY = '67890'

# Shareabouts integration
SHAREABOUTS_HOST = 'data.shareabouts.org'
SHAREABOUTS_USERNAME = 'planbox-dev'
SHAREABOUTS_PASSWORD = '[Insert correct password here]'
