
/* =File Uploads
-------------------------------------------------------------- */
.no-file-upload-message {
  clear: both;
  font-size: 0.75em;
  background-color: #E65CA1;
  background-color: rgba(230, 92, 161, 0.25);
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  float: left;
  padding: 0.125em 0.5em;
  border-radius: 0.25em;
}
.no-file-upload-message a {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
}
.no-file-upload-message a:hover {
  color: #fff;
}
.file-upload {
  margin: 2em 1em 1em;
  text-align: center;
  padding: 1em;
  border: 2px dashed #eee;
  border-radius: 0.5em;
  opacity: 0.8;
  position: relative;
}
.file-upload:hover,
.file-dragging,
.file-uploading {
  opacity: 1;
  background-color: #888;
  background-color: rgba(90,90,90,0.5);
}
.file-upload p {
  margin-bottom: 0.5em;
}
.file-upload-input-container {
	position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}
.file-upload-input {
  display:none;
}
.uploading-message,
.file-uploading > .drop-instructions {
  display: none;
}
@keyframes uploading {
    0% { color: #888; }
   50% { color: #fff; }
  100% { color: #888; }
}
@-webkit-keyframes uploading {
    0% { color: #888; }
	 50% { color: #fff; }
	100% { color: #888; }
}
.file-uploading > .uploading-message {
  display: block;
  position: relative;
  top: 1.25em;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-animation: uploading 1.5s infinite ease-in-out;
          animation: uploading 1.5s infinite ease-in-out;
}
.file-uploading > .file-upload-input-container {
  visibility: hidden;
}
.remove-cover-img-btn-container {
}
.remove-img-btn {
  visibility: hidden;
  float: right;
  margin-right: 2em;
}

.logo .file-upload {
  margin: 0;
  padding: 0.5em;
  border-color: #888;
  color: #888;
  background-color: #fff !important;
}
.logo .file-upload p {
  margin-bottom: 0.25em;
}
.logo .image-target {
  display: none;
}
.logo.has-image .image-target {
  display: block;
}
.logo.has-image .image-dnd {
  display: none;
}
.logo .remove-logo-btn-container {
  margin: 0.5em 0 0;
}
.logo .remove-img-btn {
  float: none;
}
.site-header.has-image .remove-cover-img-btn-container .remove-img-btn,
.logo.has-image .remove-logo-btn-container .remove-img-btn {
  visibility: visible;
}


/* =Pen Editor
-------------------------------------------------------------- */

/* pen menu */
.pen-menu, .pen-input{font-size:14px;line-height:1;}
.pen-menu{white-space:nowrap;box-shadow:1px 2px 3px -2px #222;background:#444;position:fixed;height:36px;border:1px solid #333;border-radius:3px;display:none;z-index:1000;}
.pen-menu:after {top:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.pen-menu:after {border-color:transparent;border-top-color:#444;border-width:6px;left:50%;margin-left:-6px;}
.pen-icon{font-style:normal;font-weight:normal;font-size:16px;line-height:36px;min-width:20px;display:inline-block;padding:0 10px;height:36px;overflow:hidden;color:#fff;text-align:center;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
.pen-icon:first-of-type{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.pen-icon:last-of-type{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.pen-icon:hover{background:#000;}
.pen-icon.active{color:#999;background:#000;box-shadow:inset 2px 2px 4px #000;}
.pen-input{position:absolute;width:100%;left:0;top:0;height:36px;line-height:20px;background:#333;color:#fff;border:none;text-align:center;display:none;font-family:arial, sans-serif;}
.pen-input:focus{outline:none;}

.pen-textarea{display:block;background:#f8f8f8;padding:20px;}
.pen textarea{font-size:14px;border:none;background:none;width:100%;_height:200px;min-height:200px;resize:none;}

@font-face {
    font-family: 'pen';
    src: url('font/fontello.eot?370dad08');
    src: url('font/fontello.eot?370dad08#iefix') format('embedded-opentype'),
    url('font/fontello.woff?370dad08') format('woff'),
    url('font/fontello.ttf?370dad08') format('truetype'),
    url('font/fontello.svg?370dad08#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pen-menu [class^="icon-"]:before, .pen-menu [class*=" icon-"]:before {
  font-family: "pen";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.pen-menu .icon-location:before { content: '\e815'; }
.pen-menu .icon-fit:before { content: '\e80f'; }
.pen-menu .icon-bold:before { content: '\e805'; }
.pen-menu .icon-italic:before { content: '\e806'; }
.pen-menu .icon-justifyleft:before { content: '\e80a'; }
.pen-menu .icon-justifycenter:before { content: '\e80b'; }
.pen-menu .icon-justifyright:before { content: '\e80c'; }
.pen-menu .icon-justifyfull:before { content: '\e80d'; }
.pen-menu .icon-outdent:before { content: '\e800'; }
.pen-menu .icon-indent:before { content: '\e801'; }
.pen-menu .icon-mode:before { content: '\e813'; }
.pen-menu .icon-fullscreen:before { content: '\e80e'; }
.pen-menu .icon-insertunorderedlist:before { content: '\e802'; }
.pen-menu .icon-insertorderedlist:before { content: '\e803'; }
.pen-menu .icon-strikethrough:before { content: '\e807'; }
.pen-menu .icon-underline:before { content: '\e804'; }
.pen-menu .icon-blockquote:before { content: '\e814'; }
.pen-menu .icon-undo:before { content: '\e817'; }
.pen-menu .icon-pre:before { content: '\e816'; }
.pen-menu .icon-unlink:before { content: '\e811'; }
.pen-menu .icon-superscript:before { content: '\e808'; }
.pen-menu .icon-subscript:before { content: '\e809'; }
.pen-menu .icon-inserthorizontalrule:before { content: '\e818'; }
.pen-menu .icon-pin:before { content: '\e812'; }
.pen-menu .icon-createlink:before { content: '\e810'; }

.pen {
  position: relative;
}
.pen.hinted h1:before,
.pen.hinted h2:before,
.pen.hinted h3:before,
.pen.hinted h4:before,
.pen.hinted h5:before,
.pen.hinted h6:before,
.pen.hinted blockquote:before,
.pen.hinted hr:before {
  color: #eee;
  position: absolute;
  right: 100%;
  white-space: nowrap;
  padding-right: 10px;
}
.pen.hinted blockquote {  border-left: 0; margin-left: 0; padding-left: 0; }
.pen.hinted blockquote:before {
  color: #1abf89;
  content: ">";
  font-weight: bold;
  vertical-align: center;
}
.pen.hinted h1:before { content: "#";}
.pen.hinted h2:before { content: "##";}
.pen.hinted h3:before { content: "###";}
.pen.hinted h4:before { content: "####";}
.pen.hinted h5:before { content: "#####";}
.pen.hinted h6:before { content: "######";}
.pen.hinted hr:before { content: "﹘﹘﹘"; line-height: 1.2; vertical-align: bottom; }

.pen.hinted pre:before, .pen.hinted pre:after {
  content: "```";
  display: block;
  color: #ccc;
}

.pen.hinted ul { list-style: none; }
.pen.hinted ul li:before {
  content: "*";
  color: #999;
  line-height: 1;
  vertical-align: bottom;
  margin-left: -1.2em;
  display: inline-block;
  width: 1.2em;
}

.pen.hinted b:before, .pen.hinted b:after { content: "**"; color: #eee; font-weight: normal; }
.pen.hinted i:before, .pen.hinted i:after { content: "*"; color: #eee; }

.pen.hinted a { text-decoration: none; }
.pen.hinted a:before {content: "["; color: #ddd; }
.pen.hinted a:after { content: "](" attr(href) ")"; color: #ddd; }


/* =Events
-------------------------------------------------------------- */

.event-datetime {
  padding-right: 3em;
}

/* Date picker widget */
.picker {
  margin-top: -1.125rem;
}
.picker__holder {
  right: 0;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
  background-color: transparent;
}
.picker button {
  color: inherit;
}
.calendar-icon {
  background-color: #eee;
  border-top: 0.5em solid #E65CA1;
  border-radius: 0.25rem;
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  margin: -0.75rem 0 0;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  z-index: 2;
  -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.calendar-icon:before,
.calendar-icon:after {
  content: '';
  display: block;
  background-color: #ddd;
  position: absolute;
  width: 0.25rem;
  height: 0.5rem;
  top: -0.5rem;
  left: 0.25rem;
  border-radius: 1rem;
  margin-top: -0.25rem;
}
.calendar-icon:after {
  left: auto;
  right: 0.25rem;
}
.calendar-icon:hover {
  cursor: pointer;
  background-color: #fff;
  border-top-color: #FF66B3;
  box-shadow: 0 0 0.5rem #999;
}

/* Event Attachments */
li.attachment {
  padding-right: 2.25em;
}
.event-attachment-dnd {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2.5em;
  padding: 0.5em;
  font-size: 0.875em;
  clear: both;
}
.event-attachment-dnd .drop-instructions {
  display: inline;
  margin: 0 0.25em 0 0;
}
.event-attachment-dnd.file-uploading .uploading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.75em 0 0 -3.5em;
}
.event-attachment-dnd.file-uploading .drop-instructions {
  display: none;
}
 .attachment-icon {
  margin-bottom: 1.5em;
}
.delete-attachment-btn {
  position: absolute;
  top: 60px;
  left: 0px;
  margin: 2.75em 0 0 -1.5em;
}


/* =Highlights
-------------------------------------------------------------- */

.highlight {}
.highlight-description,
.highlight-link-selector {
  margin-bottom: 0.25rem;
}

