/* File Uploads */
.file-upload {
  margin: 2em 1em 1em;
  text-align: center;
  padding: 1em;
  border: 2px dashed #eee;
  border-radius: 0.5em;
  opacity: 0.8;
  position: relative;
}
.file-upload:hover,
.file-dragging,
.file-uploading {
  opacity: 1;
  background-color: #888;
  background-color: rgba(90,90,90,0.5);
}
.file-upload p {
  margin-bottom: 0.5em;
}
.file-upload-input-container {
	position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.file-upload-input {
  display:none;
}
.uploading-message,
.file-uploading > .drop-instructions {
  display: none;
}
@keyframes uploading {
    0% { color: #888; }
   50% { color: #fff; }
  100% { color: #888; }
}
@-webkit-keyframes uploading {
    0% { color: #888; }
	 50% { color: #fff; }
	100% { color: #888; }
}
.file-uploading > .uploading-message {
  display: block;
  position: relative;
  top: 1.25em;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-animation: uploading 1.5s infinite ease-in-out;
          animation: uploading 1.5s infinite ease-in-out;
}
.file-uploading > .file-upload-input-container {
  visibility: hidden;
}
.remove-cover-img-btn-container {
  display: none;
}
.remove-img-btn {
  visibility: hidden;
  float: right;
  margin-right: 2em;
}

.logo .file-upload {
  margin: 0;
  padding: 0.5em;
  border-color: #888;
  color: #888;
  background-color: #fff !important;
}
.logo .file-upload p {
  margin-bottom: 0.25em;
}
.logo .image-target {
  display: none;
}
.logo.has-image .image-target {
  display: block;
}
.logo.has-image .image-dnd {
  display: none;
}
.logo p.clearfix {
  margin: 0.5em 0 0;
}
.logo .remove-img-btn {
  float: none;
}
.has-image > p > .remove-img-btn {
  visibility: visible;
}

li.attachment {
  padding-right: 2.25em;
}
.event-attachment-dnd {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2.5em;
  padding: 0.5em;
  font-size: 0.875em;
  clear: both;
}
.event-attachment-dnd .drop-instructions {
  display: inline;
  margin: 0 0.25em 0 0;
}
.attachment-icon {
  margin-bottom: 1.5em;
}
.delete-attachment-btn {
  position: absolute;
  top: 60px;
  left: 0px;
  margin: 2.75em 0 0 -1.5em;
}
