
/* =Do not print this stuff. 
-------------------------------------------------------------- */

.admin-bar,
.software-phase-notice,
.powered-by,
.delete-event-btn,
.handle,
.add-event-btn,
.save-btn,
.status-selector,
.event-list + br {
  display: none;
}


/* =Basic Styles
-------------------------------------------------------------- */

body {
  background-color: #fff;
  color: #000;
  font-size: 10pt;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  border: 0.25em solid #000;
}
/* clearfix the body */
body:before, body:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
body:after { clear: both; }
body { zoom: 1; }

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
p {
  margin: 0 0 1em 0;
}
.site-header {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 1.5em;
}
.site-title {
  font-size: 3em;
  margin: 0;
  padding: 0;
}
.project-status {
  font-size: 2em;
  text-align: right;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.project-status:before {
  content: 'Status: ';
  font-size: 0.75em;
}
.project-details {
  padding: 1em;
}
.project-description {
  clear: both;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding-top: 0.75em;
  border-top: 0.125em solid #000;
}
.project-location {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.project-timeline {
  padding: 1em;
  padding-top: 0;
}
.event-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-colophon {
  padding: 1em;
  padding-top: 0;
}



/* =Layout
-------------------------------------------------------------- */

.project-timeline,
.project-location {
  float: left;
  width: 70%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.site-colophon,
.project-status {
  float: right;
  width: 30%;
  clear: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
