body {
  background: #407280;
}
#page {
  background: #eee;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.container {
  background: #fff;
}

/* =Forms
-------------------------------------------------------------- */
form p {
  position: relative;
}
label.float-label {
  background: #268099;
  float: left;
  padding: 0.25em 1em 0 0.75em;
  color: #fff;
  font-size: 0.875em;
  border-radius: 0 0.75em 0 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 100%;
  opacity: 0.25;
  line-height: 1.5em;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.1s ease, opacity 0.5s ease;
     -moz-transition: height 0.1s ease, opacity 0.5s ease;
       -o-transition: height 0.1s ease, opacity 0.5s ease;
          transition: height 0.1s ease, opacity 0.5s ease;
}
input:focus + label {
  visibility: visible;
  opacity: 1;
  height: 1.5em;
}
input.input-block,
textarea {
  width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  border: 0.25em solid #a1cbcf;
  padding: 0.5em;
  outline: 0;
  line-height: 1.5;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}
select {
  max-width: 100%;
}


/* =Projects
-------------------------------------------------------------- */
.project-header {
  border-radius: 0.375em 0.375em 0 0;
}
[data-magellan-expedition], 
[data-magellan-expedition-clone] {
  background-color: transparent;
  padding: 0;
}
.project-menu .row {
  padding-top: 3.5em;
}
