
/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body {
  background: #407280;
  color: #ddd;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
select, input, textarea {
  background: #fff;
  color: #666;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 0.25em 0;
  line-height: 1.25;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
h1 { font-size: 2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; text-transform: uppercase; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #48a5bf; }
a:hover { color: #18758f; }

p { margin: 0 0 1.25em; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.6em; }
ul li, ol li { padding-bottom: 0.6em; }
.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.unstyled-list li {
  padding-bottom: 0;
}
strong {
  font-weight: 800;
}
hr {
  margin: 1.5em 0;
  border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.container hr {
  margin-right: -1em;
  margin-left: -1em;
}
.capitalize { text-transform: capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.25em -0.375em 0.5em;
}
.icon-muted {
  opacity: 0.75;
}
.illustration {
  display: block;
  margin: 0 auto 0.625em;
  opacity: 0.625;
}

.has-cover-image {
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}

/* Dingbats */
.checked-icon {
  color: #57D982;
}
.checked-icon.unchecked {
  color: #777;
  color: rgba(100,100,100,0.8);
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.25em 0.5em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: #268099;
  font-weight: 800;
  border: 0.25em solid #48a5bf;
  border-radius: 0.25em;
}
.btn:hover {
  background-color: #48a5bf;
  color: #fff !important;
}
.btn-block,
.btn-block:visited,
.btn-block:link {
  clear: both;
  display: block;
  margin: 0 0 1.2em;
  padding: 0.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  line-height: 1.5;
}
.btn-large {
  font-size: 1.25em;
  padding: 0.75em 1em 0.5em;
}
.btn-small {
  font-size: 0.875em;
}
.btn-mini {
  font-size: x-small;
  font-weight: 400;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #E65CA1;
  border: 0.25em solid #FF66B3;
}
.btn-secondary:hover {
  background-color: #FF66B3;
}
.btn-disabled,
.btn-disabled:visited,
.btn-disabled:link {
  background-color: Gray;
  background-color: rgba(125,125,125,0.25);
  border-color: DarkGray;
  border-color: rgba(125,125,125,0.25);
  color: DarkGray !important;
  color: rgba(125,125,125,0.25) !important;
  cursor: default;
}

/* User Link Icon */
a.user-link {
  position: relative;
  padding: 0.25em 0.75em 0.25em 0.625em ;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
a.user-link:before {
  content: '';
  float: left;
  position: relative;
  top: 0.75em;
  width: 1em;
  height: 0.625em;
  margin: 0 0.5em 0 0;
  background: #48a5bf;
  border-radius: 1em 1em 0 0;
}
a.user-link:after {
  content: '';
  float: left;
  position: absolute;
  top: 0.375em;
  left: 0.75em;
  width: 0.75em;
  height: 0.75em;
  margin: 0 0.375em 0 0;
  background: Tan;
  border-radius: 1em;

}

/* Forms */
form {
  clear: both;
}
form p {
  position: relative;
}
label {}
label.float-label {
  background: #268099;
  float: left;
  padding: 0.25em 1em 0 0.75em;
  color: #fff;
  font-size: 0.875em;
  border-radius: 0 0.75em 0 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 100%;
  opacity: 0.25;
  line-height: 1.5em;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.1s ease, opacity 0.5s ease;
     -moz-transition: height 0.1s ease, opacity 0.5s ease;
       -o-transition: height 0.1s ease, opacity 0.5s ease;
          transition: height 0.1s ease, opacity 0.5s ease;
}
input:focus + label {
  visibility: visible;
  opacity: 1;
  height: 1.5em;
}
.input-block,
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  border: 0.25em solid #a1cbcf;
  padding: 0.5em;
  outline: 0;
  line-height: 1.5;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}

/* Alerts*/
.alert {
  color: #fff;
  background-color: #555;
  line-height: 1.25;
  border: 0.25em solid #666;
  border: 0.25em solid rgba(255,255,255,0.1);
  border-radius: 0.25em;
  box-shadow: 0 0 0.75em rgba(255,255,255,0.75);
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
  padding: 0.625em;
  margin: 0 0 1.25em;
  position: relative;
}
.alert-error {
  background-color: #D91616;
  background-color: rgba(217,22,22,0.8);
  padding-left: 2.5em;
}
.alert-error:before {
  content: '!';
  font-weight: 800;
  text-align: center;
  line-height: 1.375;
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5em;
  margin-top: -0.75em;
  width: 1.25em;
  height: 1.25em;
  border: 0.15em solid #fff;
  border-color: rgba(255,255,255,0.8);
  color: #fff;
  color: rgba(255,255,255,0.8);
  text-shadow: none;
  border-radius: 10em;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.25), 0 0 3px rgba(0,0,0,0.25);
}
.alert-success {
  background-color: #57D982;
  background-color: rgba(87,217,130,0.8);
  padding-left: 2.5em;
}
.alert-success:before {
  content: '\2714';
  color: #00B4E6;
  font-size: 1.5em;
  line-height: 1.5;
  text-shadow: 0 0 3px #fff;
  position: absolute;
  top: 50%;
  left: 0.5em;
  margin-top: -0.625em;
}
.alert-warning {
  color: #777;
  background-color: #F5FF8C;
  background-color: rgba(245,255,140,0.8);
  text-shadow: none;
  border-color: #EEF788;
}
.alert-dismissable {
  padding-right: 2em;
}
.alert .close {
  color: inherit;
  font-size: 1.5em;
  line-height: 1.25;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 1.25em;
  position: absolute;
  top: 0;
  right: 0;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak { white-space: nowrap; }


/* =Layout
-------------------------------------------------------------- */

html, body {
  min-height: 100%;
}
#page {
  overflow: hidden;
  position: relative;
  background-color: #eee;
  color: #666;
}
.container {
  position: relative;
  max-width: 44em;
  padding: 1em;
  margin: 0 auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


/* =Alpha/Beta/Etc, Help, and Feedback buttons
-------------------------------------------------------------- */

a.software-help-link {
  color: LightBlue;
  font-size: 0.75em;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;

  background-color: #3D5D66;
  box-shadow: 0 0 1em rgba(0,0,0,0.25);
  border-radius: 0 0 0.625em 0;

  display: block;
  padding: 0.375em 0.75em 0.375em 3.875em;
  position: absolute;
  top: 0;
  left: 0;
}
a.software-help-link:hover {
  color: #fff;
}

.software-phase-notice {
  background-color: #F5FF8C;
  background-color: rgba(245,255,140,0.5);
  box-shadow: 0 0 1em rgba(245,255,140,0.5);
  color: #fff;
  font-size: 0.75em;
  font-weight: 800;
  line-height: 4;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
  width: 3.25em;
  height: 3.25em;
  position: absolute;
  top: -1em;
  left: -0.125em;
  overflow: visible;
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
}
.software-phase-notice:before, .software-phase-notice:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3.25em;
  width: 3.25em;
  background-color: #F5FF8C;
  background-color: rgba(245,255,140,0.5);
  box-shadow: 0 0 1em rgba(245,255,140,0.5);
  z-index: -1;
}
.software-phase-notice:before {
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
}
.software-phase-notice:after {
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
       -o-transform: rotate(60deg);
}


/* =Site Header
-------------------------------------------------------------- */

.site-header,
.product-header {
  background: #268099;
  color: #fff;
  padding: 2em 0 0;
}
.site-title,
.product-title {
  font-weight: 800;
  margin-bottom: 0;
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
  position: relative;
}
.site-title a,
.product-title a {
  text-decoration: none;
  color: #fff;
}
a.login-link {
  float: right;
/*  position: absolute;*/
/*  top: -0.875em;*/
/*  right: 1.25em;*/
  font-size: 0.875em;
  font-weight: 800;
  background-color: LightBlue;
  border-radius: 0.25em;
}


/* =Product
-------------------------------------------------------------- */

.product-header {
  padding: 0;
}
.product-title {
  font-size: xx-large;
}
.product-logo {
  font-size: 1.375em;
  text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125);
  font-weight: 100;
  -webkit-animation: shadowloop 4s infinite; /* Safari 4+ */
  -moz-animation:    shadowloop 4s infinite; /* Fx 5+ */
  -o-animation:      shadowloop 4s infinite; /* Opera 12+ */
  animation:         shadowloop 4s infinite; /* IE 10+ */
}
@-webkit-keyframes shadowloop {
  0%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
  50% { text-shadow: 0 0.125em 0 rgba(255,255,255,0.625), 0 0.25em 0 rgba(255,255,255,0.375), 0 0.375em 0 rgba(255,255,255,0.25); }
  100%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
}
@-moz-keyframes shadowloop {
  0%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
  50% { text-shadow: 0 0.125em 0 rgba(255,255,255,0.625), 0 0.25em 0 rgba(255,255,255,0.375), 0 0.375em 0 rgba(255,255,255,0.25); }
  100%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
}
@-o-keyframes shadowloop {
  0%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
  50% { text-shadow: 0 0.125em 0 rgba(255,255,255,0.625), 0 0.25em 0 rgba(255,255,255,0.375), 0 0.375em 0 rgba(255,255,255,0.25); }
  100%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
}
@keyframes shadowloop {
  0%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
  50% { text-shadow: 0 0.125em 0 rgba(255,255,255,0.625), 0 0.25em 0 rgba(255,255,255,0.375), 0 0.375em 0 rgba(255,255,255,0.25); }
  100%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
}

.product-section--the-problem {
  background-image: url(../images/ye-olde-street.jpg);
  color: #fff;
  padding: 1em 0;
}
.product-section--the-problem h3 {
  font-size: 2.5em;
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
}
.product-section--the-answer {}
.the-answer h3 {
  font-size: 2.875em;
  line-height: 1.25;
}
.the-answer p {
  font-size: 1.375em;
}
.product-overview {
  background-image: url(../images/workers.jpg);
  color: #666;
  padding: 1em 0;
}
.call-to-action {
  background: #eee;
  background: rgba(255,255,255,0.8);
  color: #444;
  padding: 1em;
  border-radius: 0.25em;
}
.product-pitch {
  padding-top: 1em;
}
.product-pitch h3 {
  margin-bottom: 0.75em;
}
.product-pitch p {
  font-size: 1.125em;
}
.interest-form p.email {
  margin-bottom: 0.25em;
}
.product-demos {
  background-color: #a1cbcf;
}
.product-demos .container {
  padding-bottom: 0;
}
.the-demo-links {}
.demo-image {
  display: block;
  float: right;
  position: relative;
}
.demo-image-ipad {
  float: left;
  width: 36%;
  margin-top: 8%;
  z-index: 2;
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
}
.demo-image-iphone {
  width: 17%;
  margin-bottom: -13%;
  margin-right: 8%;
  z-index: 3;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}
.demo-image-ff {
  width: 63%;
  z-index: 1;
}


/* =Help Page
-------------------------------------------------------------- */

.help-intro {
  font-size: 1.25em;
}


/* =Project Content
-------------------------------------------------------------- */

.project-details {}
.project-details .container {
  position: relative;
}
.project-status {
  text-align: center;
  line-height: 1.25;
  padding: 0.375em 0;
  background-color: #E65CA1;
  margin: -0.5em -0.5em 1em -0.5em;
  position: relative;
}
.project-status strong {
  text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
  font-size: 1.25em;
  color: #fff;
}

.project-location {
  position: relative;
  margin-bottom: 0;
  font-size: 1.375em;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  float: left;
  min-width: 40% !important;
}
.project-description {
  position: relative;
  font-size: 1.25em;
  clear: left;
}

/* Project Timeline */
.project-timeline {
  background: #888;
  color: #fff;
}
.event-list {
  border-left: 0.5em solid #eee;
  padding: 2em 0 0.5em;
  margin: -1em 0;
}
.event-list:before {
  content: '';
  background: #888;
  width: 1em;
  height: 3.25em;
  position: absolute;
  top: 0;
  left: 0.75em;
}
li.event {
  padding-left: 1.5em;
  position: relative;
  clear: both;
}
li.event:last-child:before {
  content: '';
  background: #888;
  width: 1em;
  position: absolute;
  top: 1.5em;
  bottom: -1.75em;
  left: -0.75em;
}
.event:after {
  content: '';
  position: absolute;
  top: 0.75em;
  left: -1em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: #888;
  border: 0.25em solid #eee;
}
.event-title {
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
  position: relative;
}
.event-description {
  position: relative;
}

.event-complete:after {
  background: #eee;
}
.event-active:after {
  background: #57D982;
}

/* Project Footer */
.project-contact-info {
  position: relative;
}


/* =Colophon
-------------------------------------------------------------- */

.site-colophon {
  padding-top: 1em;
  background: #407280;
  color: #ddd;
}
.site-colophon a, .site-colophon a:active, .site-colophon a:visited {
  color: #fff;
  text-decoration: none;
}
.site-colophon a:hover {
  text-decoration: underline;
}
.powered-by {
  text-align: right;
  font-size: 0.875em;
  font-weight: 100;
  color: #ccc;
  padding-top: 2em;
}
.powered-by a {
  font-weight: 400;
}
.openplans-logo {
  width: 150px;
  height: auto;
  margin: 0 0.5em 0.5em 0;
}


/* =Modal Overlay
-------------------------------------------------------------- */

.overlay {
  *background: #666;
  background: rgba(100,100,100,0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 600;
  padding: 1em;
}
.modal {
  background: #fff;
  max-width: 28em;
  max-height: 100%;
  overflow: auto;
  padding: 1em;
  margin: 0 auto;
  border-radius: 0.25em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.modal-head {
  margin: -1em -1em 1em;
  padding: 1em;
  background: #eee;
}
.modal-header {
  margin-bottom: 0;
}
.modal-body {  
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 22em) {
  .site-header {
    padding-bottom: 0.75em;
  }
  .site-title {
    font-size: 2.5em;
  }
  .project-status {
    position: absolute;
    top: -1.5em;
    right: 1em;
    border-radius: 0.875em 0.125em;
    padding: 0.5em 1.25em;
    margin: 0;
  }
  .project-colophon {
    padding-top: 2em;
    padding-bottom: 1em;
  }
  .illustration {
    float: left;
    margin: 0 1em 0.5em 0;
  }
}

@media only screen and (min-width: 44em) {
  #page {
    font-size: 1.25em;
  }
  .container {
    max-width: 36em;
  }
  .site-header {
    padding-top: 3em;
    padding-bottom: 1.5em;
  }

  .product-section--the-problem {
    padding-top: 2em;
  }
  .product-section--the-problem h3 {
    font-size: 2.75em;
  }

  .project-status strong {
    padding: 0 0.25em;
  }
  .project-colophon {
    padding-top: 3em;
    padding-bottom: 2em;
  }
  .interest-form p.email {
    width: 65%;
    float: left;
    margin-bottom: 1.25em;
  }
  .interest-form p.submit {
    width: 35%;
    float: left;
  }
  .interest-form p.submit .btn-block {
    border-radius: 0 0.25em 0.25em 0;
    margin-bottom: 0;
  }
  .openplans-logo {
    float: left;
  }
  .funding-info {
    margin-left: 150px;
    padding-top: 0.25em;
    padding-left: 1.5em;
  }
  .overlay {
    padding: 3em;
  }
  .modal {
    border-radius: 0.375em;
  }
  .software-phase-notice {
    font-size: 1.25em;
    position: fixed;
    z-index: 201;
  }
  a.software-help-link {
    border-radius: 0 0.625em 0.625em 0;
    top: 0.25em;
    font-size: 0.875em;
    position: fixed;
    padding-left: 5.625em;
    z-index: 200;
  }


  .demo-image {
    -webkit-transition: -webkit-transform .2s ease;
            -ms-transition: -ms-transform .2s ease;
                    transition: transform .2s ease;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .demo-image-ipad:hover {
    z-index: 4;
    -webkit-transform: scale(1.25) rotate(-6deg);
        -ms-transform: scale(1.25) rotate(-6deg);
            transform: scale(1.25) rotate(-6deg);
  }
  .demo-image-iphone:hover {
    z-index: 4;
    -webkit-transform: scale(1.25) rotate(10deg);
        -ms-transform: scale(1.25) rotate(10deg);
            transform: scale(1.25) rotate(10deg);
  }
  .demo-image-ff {
    -webkit-transform-origin: 60% 100%;
        -ms-transform-origin: 60% 100%;
            transform-origin: 60% 100%;
  }
  .demo-image-ff:hover {
    z-index: 4;
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
  }


}

@media only screen and (min-width: 52em) {
  .product-header {
    padding: 0;
  }
  .product-title {}
  a.login-link {
  }
  .product-section--the-problem {
    padding-top: 3.5em;
    padding-bottom: 1.5em;
  }
  .the-demo-links {
    margin-right: -2em;
    margin-left: -2em;
  }
}