
/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body {
  background: #407280;
  color: #fff;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
select, input, textarea {
  background: #fff;
  color: #666;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 0.25em 0;
  line-height: 1.25;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
h1 { font-size: 2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; text-transform: uppercase; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #48a5bf; }
a:hover { color: #18758f; }

p { margin: 0 0 1.2em; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.6em; }
ul li, ol li { padding-bottom: 0.6em; }
.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.unstyled-list li {
  padding-bottom: 0;
}
strong {
  font-weight: 800;
}
hr {
  margin: 1.5em 0;
  border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.container hr {
  margin-right: -1em;
  margin-left: -1em;
}
.capitalize { text-transform: capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}
.icon-inline {
  height: 1.5em;
  width: auto;
  margin: 0 0.25em -0.375em 0.5em;
}
.icon-muted {
  opacity: 0.75;
}
.illustration {
  display: block;
  margin: 0 auto 0.625em;
  opacity: 0.625;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.25em 0.5em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #268099;
  font-weight: 800;
  border: 0.25em solid #48a5bf;
  border-radius: 0.25em;
}
.btn:hover {
  background-color: #48a5bf;
  color: #fff !important;
}
.btn-block,
.btn-block:visited,
.btn-block:link {
  clear: both;
  display: block;
  margin: 0 0 1.2em;
  padding: 0.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  line-height: 1.5;
}
.btn-large {
  font-size: 1.25em;
  padding: 0.75em 1em 0.5em;
}
.btn-small {
  font-size: 0.875em;
}
.btn-mini {
  font-size: x-small;
  font-weight: 400;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #E65CA1;
  border: 0.25em solid #FF66B3;
}
.btn-secondary:hover {
  background-color: #FF66B3;
}
.btn-disabled,
.btn-disabled:visited,
.btn-disabled:link {
  background-color: Gray;
  background-color: rgba(125,125,125,0.25);
  border-color: DarkGray;
  border-color: rgba(125,125,125,0.25);
  color: DarkGray !important;
  color: rgba(125,125,125,0.25) !important;
  cursor: default;
}

/* User Link Icon */
a.user-link {
  position: relative;
  height: 1.75em;
  line-height: 1.75em;
  padding: 0.125em 0.75em 0 0.625em ;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
a.user-link:before {
  content: '';
  float: left;
  position: relative;
  top: 0.75em;
  width: 1em;
  height: 0.625em;
  margin: 0 0.5em 0 0;
  background: #48a5bf;
  border-radius: 1em 1em 0 0;
}
a.user-link:after {
  content: '';
  float: left;
  position: absolute;
  top: 0.25em;
  left: 0.75em;
  width: 0.75em;
  height: 0.75em;
  margin: 0 0.375em 0 0;
  background: Tan;
  border-radius: 1em;

}

/* Forms */
form {
  clear: both;
}
form p {
  position: relative;
}
label {}
label.float-label {
  background: #268099;
  float: left;
  padding: 0.25em 1em 0 0.75em;
  color: #fff;
  font-size: 0.875em;
  border-radius: 0 0.75em 0 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 100%;
  opacity: 0.25;
  line-height: 1.5em;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.1s ease, opacity 0.5s ease;
     -moz-transition: height 0.1s ease, opacity 0.5s ease;
       -o-transition: height 0.1s ease, opacity 0.5s ease;
          transition: height 0.1s ease, opacity 0.5s ease;
}
input:focus + label {
  visibility: visible;
  opacity: 1;
  height: 1.5em;
}
.input-block,
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  border: 0.25em solid #a1cbcf;
  padding: 0.5em;
  outline: 0;
  line-height: 1.5;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}
.radio-btn-label {
  float: left;
  padding: 0.25em 0.875em 0.25em 0.5em;
  cursor: pointer;
  background-color: #777;
  border: 0.25em solid #777;
  color: #bbb;
}
input[type='radio'].checked + .radio-btn-label,
input[type='radio']:checked + .radio-btn-label {
  color: #fff;
  background-color: #18758f;
  border-color: #18758f;
}
.radio-btn-label .checked-icon {
  visibility: hidden;
  color: #57D982;
}
input[type='radio'].checked + .radio-btn-label .checked-icon,
input[type='radio']:checked + .radio-btn-label .checked-icon {
  visibility: visible;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak { white-space: nowrap; }


/* =Layout
-------------------------------------------------------------- */

#page {
  background-color: #eee;
  color: #666;
}
.container {
  position: relative;
  max-width: 44em;
  padding: 1em;
  margin: 0 auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


/* =Site Header
-------------------------------------------------------------- */

.site-header {
  background: #268099;
  color: #fff;
  padding: 2em 0 0;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}
.site-title {
  font-weight: 800;
  margin-bottom: 0;
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
}
.site-description {
  font-size: 1.5em;
  font-weight: 400;
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
}

a.login-link {
  float: right;
  position: absolute;
  top: -0.875em;
  right: 1.25em;
  font-size: 0.875em;
  font-weight: 800;
  background-color: LightBlue;
  border-radius: 0.25em;
}


/* =Product
-------------------------------------------------------------- */

.product-logo {
  font-size: 1.375em;
  text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125);
  font-weight: 100;
  -webkit-animation: shadowloop 4s infinite; /* Safari 4+ */
  -moz-animation:    shadowloop 4s infinite; /* Fx 5+ */
  -o-animation:      shadowloop 4s infinite; /* Opera 12+ */
  animation:         shadowloop 4s infinite; /* IE 10+ */
}
@-webkit-keyframes shadowloop {
  0%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
  50% { text-shadow: 0 0.125em 0 rgba(255,255,255,0.625), 0 0.25em 0 rgba(255,255,255,0.375), 0 0.375em 0 rgba(255,255,255,0.25); }
  100%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
}
@-moz-keyframes shadowloop {
  0%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
  50% { text-shadow: 0 0.125em 0 rgba(255,255,255,0.625), 0 0.25em 0 rgba(255,255,255,0.375), 0 0.375em 0 rgba(255,255,255,0.25); }
  100%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
}
@-o-keyframes shadowloop {
  0%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
  50% { text-shadow: 0 0.125em 0 rgba(255,255,255,0.625), 0 0.25em 0 rgba(255,255,255,0.375), 0 0.375em 0 rgba(255,255,255,0.25); }
  100%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
}
@keyframes shadowloop {
  0%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
  50% { text-shadow: 0 0.125em 0 rgba(255,255,255,0.625), 0 0.25em 0 rgba(255,255,255,0.375), 0 0.375em 0 rgba(255,255,255,0.25); }
  100%   { text-shadow: 0 0.125em 0 rgba(255,255,255,0.5), 0 0.25em 0 rgba(255,255,255,0.25), 0 0.375em 0 rgba(255,255,255,0.125); }
}

.product-overview {
  background: #eee url(../images/workers.jpg) center center repeat;
  background-size: cover;
  color: #666;
  padding: 1em 0;
}
.call-to-action {
  background: #eee;
  background: rgba(255,255,255,0.8);
  color: #444;
  padding: 1em;
  border-radius: 0.25em;
}
.product-details {}
.product-pitch {
  padding-top: 1em;
}
.product-pitch h4 {
  margin-bottom: 1em;
}
.product-pitch p {
  font-size: 1.25em;
}


/* =Project Content
-------------------------------------------------------------- */

.project-details {}
.project-details .container {
  position: relative;
}
.project-status {
  text-align: center;
  line-height: 1.25;
  padding: 0.375em 0;
  background: #ddd;
  margin: -0.5em -0.5em 1em -0.5em;
  position: relative;
}
.project-status strong {
  text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
  font-size: 1.25em;
}
.project-status-active {
  background: #57D982;
  color: #fff;
}

.project-location {
  margin-bottom: 0;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  float: left;
}
.project-description {
  font-size: 1.25em;
  clear: left;
}


/* =Project Timeline
-------------------------------------------------------------- */

.project-timeline {
  background: #888;
  color: #fff;
}
.event-list {
  border-left: 0.5em solid #eee;
  padding: 2em 0 0.5em;
  margin: -1em 0;
}
li.event {
  padding-left: 1.5em;
  position: relative;
  clear: both;
}
.event:before {
  content: '';
  position: absolute;
  top: 0.5em;
  left: -1em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background: #eee;
}
.event:after {
  content: '';
  position: absolute;
  top: 0.75em;
  left: -0.75em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: #888;
}
.event-title {
  text-shadow: 0 0 3px rgba(0,0,0,0.25);
}
.event-description {
  clear: left;
}

.event-complete:after {
  background: #eee;
}
.event-active:after {
  background: #57D982;
}


/* =Colophon
-------------------------------------------------------------- */

.site-colophon {
  padding-top: 1em;
  background: #407280;
  color: #ddd;
}
.site-colophon a, .site-colophon a:active, .site-colophon a:visited {
  color: #fff;
  text-decoration: none;
}
.site-colophon a:hover {
  text-decoration: underline;
}
.powered-by {
  text-align: right;
  font-size: 0.875em;
  font-weight: 100;
  color: #ccc;
  padding-top: 2em;
}
.powered-by a {
  font-weight: 400;
}
.openplans-logo {
  width: 150px;
  height: auto;
  margin: 0 0.5em 0.5em 0;
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 22em) {
  .site-header {
    padding-bottom: 0.75em;
  }
  .site-title {
    font-size: 2.5em;
  }
  .site-title a {
    text-decoration: none;
    color: #fff;
  }
  .project-status {
    position: absolute;
    top: -1.5em;
    right: 1em;
    border-radius: 0.875em 0.125em;
    padding: 0.5em 1.25em;
    margin: 0;
  }
  .project-colophon {
    padding-top: 2em;
    padding-bottom: 1em;
  }
  .illustration {
    float: left;
    margin: 0 1em 0.5em 0;
  }
}

@media only screen and (min-width: 44em) {
  #page {
    font-size: 1.25em;
  }
  .container {
    max-width: 36em;
  }
  .site-header {
    padding-top: 3em;
    padding-bottom: 1.5em;
  }
  .project-status strong {
    padding: 0 0.25em;
  }
  .project-colophon {
    padding-top: 3em;
    padding-bottom: 2em;
  }
  .interest-form p.email {
    width: 65%;
    float: left;
  }
  .interest-form p.submit {
    width: 35%;
    float: left;
  }
  .interest-form p.submit .btn-block {
    border-radius: 0 0.25em 0.25em 0;
    margin-bottom: 0;
  }
  .openplans-logo {
    float: left;
  }
  .funding-info {
    margin-left: 150px;
    padding-top: 0.25em;
    padding-left: 1.5em;
  }
}