
/* =Foundation-specific Overrides & Deficiencies
-------------------------------------------------------------- */

/* .hide's specificity isn't high enough */
input.hide {
  display: none;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  color: #444;
}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
}
.h1 { font-size: 2.125rem; }
.h2 { font-size: 1.6875rem; }
.h3 { font-size: 1.375rem; }
.h4 { font-size: 1.125rem; }
.h5 { font-size: 1.125rem; }
.h6 { font-size: 1rem; }

.page-header {
  margin-top: 2rem;
}
.project-title {
  margin: 0;
  min-width: 4em;
}
.project-section-timeline a {
  color: #ACD8E6;
}
.project-section-timeline a:hover,
.project-section-timeline a:focus {
  color: #B6E4F2;
}
.float-label-input:focus a {
  color: #008CBA;
}
.float-label-input:focus a:hover,
.float-label-input:focus a:focus {
  color: #007ba0;
}


/* =Utility Classes
-------------------------------------------------------------- */

.has-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

/* Dingbats */
.checked-icon {
  color: #57D982;
}
.checked-icon.unchecked {
  color: #777;
  color: rgba(100,100,100,0.8);
}
.arrow-left-down {
  position: relative;
  top: 0.375em;
}


/* =Layout
-------------------------------------------------------------- */

body {
  background-color: #407280;
}
#page {
  background-color: #eee;
  font-weight: 400;
  line-height: 1.5;
}
.container {
  background-color: #fff;
  color: #444;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
section, footer {
  /* prevent overflowing float-labels from being overlapped by previous sections */
  position: relative;
  z-index: 10;
}

.site-header {
  background-color: #fff;
}
.site-header.has-image {
  /* if there's a cover image, give the header room for it */
  padding-top: 40%;
}
.site-header.has-image .site-header-content {
  /* if there's a cover image, push the logo & title out of the header */
  float: left;
  width: 100%;
  border-top: 0;
}

.section-header {
  padding: 0.5rem;
}
.section-header h2 {
  margin: 0;
}


/* Footer */
.site-colophon {
  padding-top: 0.9375rem;
  background-color: #407280;
  color: #ddd;
}
.site-colophon a {
  color: #fff;
}
.site-colophon a:hover {
  text-decoration: underline;
}
.site-colophon .button:hover {
  text-decoration: none;
}
.powered-by {
  margin-top: 4rem;
  margin-bottom: 8rem;
}


/* =Forms
-------------------------------------------------------------- */

textarea {
  height: 6.5em;
  resize: none;
}
select {
  max-width: 100%;
}

/* Float Label Pattern */
.float-label-container {
  position: relative;
}
.float-label {
  background-color: #999;
  float: left;
  padding: 0.25rem 0.75rem;
  color: #fff;
  font-size: 0.75em;
  border-radius: 0.25rem 0.25rem 0 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 100%;
  opacity: 0.25;
  line-height: 1.5em;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.1s ease, opacity 0.45s ease, background-color 0.45s ease-in-out;
     -moz-transition: height 0.1s ease, opacity 0.45s ease, background-color 0.45s ease-in-out;
       -o-transition: height 0.1s ease, opacity 0.45s ease, background-color 0.45s ease-in-out;
          transition: height 0.1s ease, opacity 0.45s ease, background-color 0.45s ease-in-out;
}
.float-label-input:focus + .float-label {
  visibility: visible;
  opacity: 1;
  height: 2em;
}
.float-label-input {
  -webkit-appearance: none;
  background-color: #fff;
  background-color: inherit;
  font-family: inherit;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
     -moz-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
       -o-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
          transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
.float-label-input:focus {
  background-color: #fafafa;
  color: #444;
  border-color: #999999;
  outline: none;
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}


/* =Projects
-------------------------------------------------------------- */

.project-header {
  border-radius: 0.375em 0.375em 0 0;
}
.logo-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
  z-index: 5;
}
.logo-table-row {
  display: table-row;
}
.logo-table-row > div {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.logo-table-row > div.image-holder,
.logo-table-row > div.has-image {
  padding-right: 1em;
}
.logo-table img {
  max-height: 8em;
  height: auto;
  width: auto;
}

.project-menu-container {}
.project-menu-container.has-project-menu {
  position: relative;
}
[data-magellan-expedition],
[data-magellan-expedition-clone] {
  background-color: transparent;
  padding: 0;
}
.project-menu .row {
  position: relative;
  z-index: 2;
  padding-bottom: 0;
}
.project-menu .columns:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  height: 0.5em;
  border-radius: 0 0 0.25rem 0.25rem;
  margin: 0 0 0 -0.9375rem;
  box-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.08);
}

/* Project Details */
.project-details {
  clear: both;
}

/* Project Timeline */
.project-section-timeline {
  background-color: #888;
  color: #fff;
  padding-top: 0.9375rem;
}
.project-section-timeline .section-header {
  background-color: #eee;
  color: #444;
}
.event-list {
  border-left: 0.75rem solid #eee;
  padding: 2rem 0 0;
  margin-bottom: 0.9375rem;
}
.event {
  padding-left: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.event:last-child:before {
  content: '';
  background-color: #888;
  width: 1.5rem;
  position: absolute;
  top: 1.25rem;
  bottom: -0.9375rem;
  left: -1.125rem;
}
.event:after {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: -1.375rem;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #888;
  border: 0.5rem solid #eee;
}

/* Event Attachments */
.attachment {}
.attachment-icon img {
  width: 90%;
}
.attachment-title {
  margin-bottom: 0.125rem;
}

/* FAQs Section */
.faq {
  margin-bottom: 0.9375rem;
  position: relative;
}
.faq-question {
  position: relative;
  margin-bottom: 0.25rem;
}
.faq-answer {
  position: relative;
  margin-bottom: 0;
}
.faq-list {
  margin-bottom: 1.5em;
}
.faq-list dt {
  font-weight: 800;
  font-size: 1.25em;
}
.faq-list-collapsed dt {
  color: #268099;
  cursor: pointer;
}
.faq-list-collapsed dd {
  display: none;
}
.faq-list dt.is-selected {
  color: #555;
}
.faq-list dt.is-selected + dd {
  display: block;
}

/* Shareabouts Section */
.project-section-shareabouts {
}


/* =Foundation Media Queries
-------------------------------------------------------------- */

/* Define mobile styles */
@media only screen {
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
}


/* ----- Medium screens ----- */

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {

  .site-header.has-image {
    padding-top: 30%;
  }

  .h1 { font-size: 2.75rem; }
  .h2 { font-size: 2.3125rem; }
  .h3 { font-size: 1.6875rem; }
  .h4 { font-size: 1.4375rem; }

}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
}


/* ----- Large screens ----- */

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {

  .site-header {
    background-color: #268099;
    color: #fff;
    padding-top: 4rem;
  }
  .site-header.has-image {
    padding-top: 15.25em;
    background-position: center center;
  }
  .site-header .site-header-content {
    border-top: 0;
    border-radius: 0.25em 0.25em 0 0;
  }
  .site-header.has-image .site-header-content {
    float: none;
    width: auto;
  }

}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}


/* ----- XLarge screens ----- */

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
}


/* ----- XXLarge screens ----- */

/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
}
